.sarp-subscription {
    margin: 5px 0px;
}

.sarp-subscription li {
    list-style: none;
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sarp-subscription li .sub-price {
    display: inline-block;
    font-size: 18px;
    color: #19353f;
    padding-left: 10px;
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sarp-subscription li input + span {
    float: left;
    font-size: 13px;
    margin-top: 4px;
}

.sarp-subscription li .sub-price .price-box {
    padding: 0;
}

.sarp-subscription label {
    display: none;
}

.sarp-subscription input.radio {
    float: left;
    margin-top: 3px;
}

.sarp-subscription .label {
    display: block;
    margin-left: 18px;
}

.sarp-subscription label {
    font-weight: normal;
}

.calendar {
    z-index: 100;
}

.aw-sarp-first-subscription-notice {
    display: none;
}

.aw-sarp-first-subscription-notice .required {
    color: #EB340A;
}
.catalog-product-view .sarp-subscription input.radio  {
    margin: 6px 5px 0 0;
}

.catalog-product-view .sarp-subscription .smallcap {
    font-size: 11px;
    margin-left: 16px;
    display: inline-block;
}

.product-shop .price-review .price-box,
.info-container .price-box {
    display: none;
}

.info-container .price-box {
    overflow: hidden;
}

.info-container .sarp-subscription .price-box {
    display: block;
}

.product-view .product-shop .price-review {
    clear: none;
    overflow: visible;
}

@media(max-width:767px){
    .product-view .product-shop .price-review .ratings {
        margin-bottom: 0;
        float: left;
    }
}
