#custommenu {
    position: relative;
    padding: 0px 0px 0px 0px;
    height: auto;
    margin: 0 auto;
}
#custommenu .home-icon {
    padding: 0 10px;
}
#custommenu .home-icon img {
    margin-top: 0;
    vertical-align: middle;
}
#custommenu .menu.home-link:hover, 
#custommenu .menu.home-link.active, 
#nav li.level0.home-link:hover, 
#nav li.level0.home-link.over,
#blog_nav li.level0.home-link:hover, 
#blog_nav li.level0.home-link.over,
div.menu.home-link a:hover, 
div.menu.home-link a:focus,
#nav li.home-link a:hover,
#nav li.home-link a:focus {
    background: none;
}
.border-line-left{
    background: url(../../images/border_line.png) repeat-y 0 50%;
}
.border-line-right{
    background: url(../../images/border_line.png) repeat-y 100% 50%;
}
/*IE7 fix*/
*:first-child+html #custommenu {
    z-index: 998;
}
div.menu {
    float: left;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}
#custommenu .menu:last-child{
    margin-right: 0;
}
div.menu a {
    padding: 0 13px;
}
div.menu a span {
    display: block;
}
div.menu a span:hover {
    cursor: pointer;
}
div.eternal-custom-menu-popup {
    position: absolute;
    z-index: 1000;
    display: none;    
    padding: 0;
    background-clip: padding-box;
    text-align: left;
    font-size: 15px;    
}
div.menu a,
div.eternal-custom-menu-popup a {
    text-decoration: none;
    display:block;
    cursor: pointer;
    _height: 0;
    height: auto;
}
div.eternal-custom-menu-popup a:hover,
div.eternal-custom-menu-popup a:focus{
    color: #75aedf;
}
div.level1 {
    margin-bottom: 5px;
}
div.block2 {
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    display: block;
    text-align: center;
}
a.level0,
.level0>.parentMenu>a{
    text-transform: uppercase;
    font-weight: bold;
}
.level1>parentMenu>a{
    text-transform: uppercase;
}
.level2>parentMenu>a{
    text-transform: capitalize;
}
a.level1 {
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 0;
    text-transform: uppercase;
    color: #2f2f2f;
}
a.level2{
    color: #666666;
}
/* Clearfix */
div.block2:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
html[xmlns] div.block2 {
    display: block;
}
* html div.block2 {
    height: 1%;
}
div.block2 p {
    font-size: 14px;
    margin-bottom: 3px;
}
div.block2 p a {
    display: inline;
}
div.block2 a img {
    opacity: .9;
    filter: alpha(opacity=90);
}
div.block2 a:hover img {
    opacity: 1;
    filter: alpha(opacity=100);
}
div.block2 .brand a:hover img {
}
div.eternal-custom-menu-popup hr {
    margin: 0px 0px 10px 0px;
}
/******************************************* COLUMN WIDTH ***************************** */
div.column {
    float: left;
    width: 18%; /* for 5 columns*/
    padding: 0px 2%;
    margin: 0px 0px 0px 0px;
}
/*end COLUMN WIDTH  */

div.itemSubMenu {
    margin-left: 10px;
}
div.itemSubMenu.level1 {
    margin-left: 0;
}
div.itemSubMenu a {
    padding: 14px 0;
    border-bottom: dotted 1px #b2b2b2;
    line-height:1;
    font-size: 12px;
}
.clearBoth {
    clear:both;
    height: 0;
    overflow: hidden;
}
div.level1 {
    margin-bottom: 0px;
    padding: 0;
}
/*BG*/
#custommenu {
}

div.eternal-custom-menu-popup > div {
    padding:20px 35px;    
}
div.menu a:link, div.menu a:visited {
    text-transform: uppercase;
}
div.menu a, div.eternal-custom-menu-popup a {
}
div.menu .brand a, div.eternal-custom-menu-popup .brand a {
}
div.menu:hover .parentMenu > a,
div.menu.active a {
   color: #282828; 
}
div.eternal-custom-menu-popup a.level2, 
.menu-mobile a.level2 {
    text-transform: capitalize;
}
div.eternal-custom-menu-popup .eternal-custom-menu-submenu a.level1, .menu-mobile .eternal-custom-menu-submenu a.level1, .menu-mobile .eternal-custom-menu-submenu .parentMenu a {
    color: #c0a879;
    padding-left: 40px;
}
.block2 table.brand {
    float: left;
}
.block2 .single_menu_product {
    float: left;
    position: relative;
    max-width: 150px;
    overflow: hidden;
    margin-right: 20px;
    margin-left: 0px;
}
/*MOBILE MENU STYLES*/
#menu-button, .parentMenu {
    display: inline-block;
}
html[xmlns] #menu-button, html[xmlns] .parentMenu,#nav>li, #blog_nav>li {
    display: block;    
    line-height: 56px;
}
#blog_nav li a span {
    display: block;
    white-space: nowrap;
    cursor: pointer;
}
.fixed #nav>li,
.fixed #blog_nav>li {
    padding: 19px 0;
}
.fixed #nav ul,
.fixed #blog_nav ul {
    top: 70px;
}
.fixed div.eternal-custom-menu-popup {
    padding-top: 0 !important;
}
.fixed .eternal-custom-menu-popup {
    top: 70px !important;
}
#custommenu-mobile #menu-button,
#custommenu-mobile .parentMenu {
    line-height: 40px;
    padding: 0;
}
* html #menu-button, * html .parentMenu {
    height: 1%;
}
#menu-button:after, .parentMenu:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
#custommenu-mobile {
    position:relative;
    margin: 0 auto;
    padding: 0;
    z-index: 999;
}
#custommenu-mobile .btn-navbar,
#custommenu-mobile .navbar-name
{
   float: left;
   line-height: 15px;
   height: 13px; 
}
#menu-button {
    float: none;
    padding: 10px 0px 5px;
    margin: 0px 0px 10px 0px;
    width: 100%;
    text-transform: uppercase;
}
#menu-button a {
    display: block;
    float: left;
    margin-left: 45%;
    position: relative;
    padding: 0px 10px;
    text-decoration: none;
}
#menu-button:hover {
    cursor: pointer;
}
#menu-button:hover a:after {
    opacity: 1;
}
.menu-mobile div.column {
    float:none;
    padding:5px;
    background: #fff;
}
.menu-mobile a.itemMenuName {
    display: block;
    text-align: left;
}
.menu-mobile div.menu-button, .menu-mobile div.menu-mobile {
    float: none;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    width: 100%;
    border-bottom: 1px solid #fff;
}
.menu-mobile div.column {
    float: none;
    width: 100%;
    padding: 0px 0;
    margin: 0px 0px 0px 0px;
}
.menu-mobile a.level1 {
    margin-top: 0px;
    margin-bottom: 0;
    padding: 0;
}
.menu-mobile a.level2 {
    line-height: 38px;
    padding: 0;
}
/*buttons level 01*/
.menu-mobile .parentMenu {
    padding: 0px 0px;
    display: block;
    text-align: left;
    border-bottom: 1px dotted #dadada;
/*    border-bottom: 1px dotted #000;*/
        
}
#menu-content .level0:first-child>.parentMenu{
    border-top: none;
}
.menu-mobile .parentMenu a {
    padding-left: 20px;
    margin-right: 40px;
    display: block;
    text-decoration: none;
    font-size: 15px;        
}
.menu-mobile.level0 > .parentMenu > a {
    text-transform: uppercase;
}
.menu-mobile .parentMenu:hover {
    cursor: pointer;
}
.parentMenu {
    position: relative;
}
.parentMenu a {
    display: block;
    color: #dad9d9;
}
#menu-button {
    cursor: pointer;
}
.menu-mobile div.level2 {
    margin-bottom: 0;
}
#custommenu-mobile .button {
    cursor: pointer;
    position: absolute;
    right: 1%;
    top: 0px;
    display: block;
    width: 100%;
    height: 38px;
    background: url('../../images/mobile-nav-arrow.png') no-repeat right top;
    padding: 0;
}
#custommenu-mobile .button.open {
    background: url('../../images/mobile-nav-arrow.png') no-repeat right bottom;
}

#menu-content {
    -webkit-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
       -moz-box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
            box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
    position: absolute;
    left: 0;
    right: 0;
}

.menu-mobile.level0 > .parentMenu,
.itemMenu.level1 > .parentMenu {
        
}

/*backend*/
div.eternal-custom-menu-popup a.level1,
.menu-mobile a.level1{
    font-size: 13px;    
}
/* overrides */
#nav div.submega-right, #nav div.submega-links {
    position: static;
    overflow: hidden;
    width: auto;
}

#nav .submega {
    width: auto;
    min-width: 460px;
    padding: 16px;
    -webkit-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 10px -5px rgba(0,0,0,0.75);
}

#nav .submega a {
    text-transform: none;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000;
    line-height: normal;
}

#nav .submega-links {
    display: inline-block;
    float: left;
    max-width: 170px;
}

#nav .submega-links a {
    padding: 0;
    margin-bottom: 16px;
    display: block;
    width: auto;
    clear: both;
}

#nav .submega-links a span {
    white-space: normal;
}


#nav .submega-right {
    float: right;
    border-left: 1px solid #b0b0b0;
    padding-left: 16px;
    max-width: 241px;
}

.submega-heading, .submega-desc, .submega-cta {
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
    clear: both;
    display: block;
    line-height: normal;
}

.submega-heading {
    font-size: 18px;
    color: #333 !important;
    margin-bottom: 4px;
}

.submega-desc {
    color: #747474;
    font-size: 11px;
    margin-bottom: 5px;
}

#nav .submega-right a.submega-cta {
    width: auto;
    color: #d19a8c;
    text-transform: uppercase;
    font-size: 11px;
    padding: 0;
    margin-top: 4px;
    text-decoration: underline;
}

#nav .submega-right a.submega-cta img {
    width: 224px;
    height: auto;
}

#nav .submega-right.submega-right-shop {
    padding: 0;
    border: none;
    margin: -14px;
    width: 265px;
    height: 263px;
    background: url('/skin/frontend/zonda/default/images/header-thumb-wand.jpg') no-repeat top;
}

#nav .submega-right.submega-right-shop .submega-right-shop-inner {
    width: 140px;
    position: static;
    margin: 16px 0 0 16px;
    background: transparent;
}

@media(max-width: 991px){

}