.product-tabs-ul {
}
.product-tabs-ul li {
    float: left; 
    line-height: 43px;
    height: 43px;
    padding: 0 10px;  
}
.product-tabs-ul li.active {
    
}
.data-content {
    padding: 28px 0;
    position: relative;
}


.nicescroll-rail {
    background: url(../../images/backgrounds/nicescroll_bg.png) repeat-y center center;
}