<?xml version="1.0"?>
<config>
  <modules>
    <Eternal_Ajaxfilter>
      <version>1.0.0</version>
    </Eternal_Ajaxfilter>
  </modules>
  <global>
    <helpers>
      <ajaxfilter>
        <class>Eternal_Ajaxfilter_Helper</class>
      </ajaxfilter>
    </helpers>
    <blocks>
      <ajaxfilter>
        <class>Eternal_Ajaxfilter_Block</class>
      </ajaxfilter>
      <catalog>
        <rewrite>
		  <layer_filter_price>Eternal_Ajaxfilter_Block_Catalog_Layer_Filter_Price</layer_filter_price>
        </rewrite>
      </catalog>
    </blocks>
    <models>
      <catalog>
        <rewrite>
          <layer>Eternal_Ajaxfilter_Model_Catalog_Layer</layer>
        </rewrite>
      </catalog>
	  <catalogsearch>
        <rewrite>
          <layer>Eternal_Ajaxfilter_Model_Catalogsearch_Layer</layer>
        </rewrite>
      </catalogsearch>
    </models>
	<resources>
		<ajaxfilter_setup>
		  <setup>
			<module>Eternal_Ajaxfilter</module>
			<class>Eternal_Ajaxfilter_Model_Resource_Setup</class>
		  </setup>
		  <connection>
			<use>core_setup</use>
		  </connection>
		</ajaxfilter_setup>
	 
		<ajaxfilter_write>
		  <connection>
			<use>core_write</use>
		  </connection>
		</ajaxfilter_write>
		<ajaxfilter_read>
		  <connection>
			<use>core_read</use>
		  </connection>
		</ajaxfilter_read>
	  </resources>
  </global>
  <frontend>
    <layout>
      <updates>
        <ajaxfilter>
          <file>ajaxfilter.xml</file>
        </ajaxfilter>
      </updates>
    </layout>
	<routers>
		<ajaxfilter>
			<use>standard</use>
			<args>
				<module>Eternal_Ajaxfilter</module>
				<frontName>ajaxfilter</frontName>
			</args>
		</ajaxfilter>
		<catalog>
			<args>
				<modules>
					<Eternal_Ajaxfilter before="Mage_Catalog">Eternal_Ajaxfilter_Catalog</Eternal_Ajaxfilter>
				</modules>
			</args>
		</catalog>
		<catalogsearch>
			<args>
				<modules>
					<Eternal_Ajaxfilter before="Mage_CatalogSearch">Eternal_Ajaxfilter_CatalogSearch</Eternal_Ajaxfilter>
				</modules>
			</args>
		</catalogsearch>
	</routers>
  </frontend>
  <default>
    <price_slider>
      <price_slider_settings>
        <slider_loader_active>1</slider_loader_active>
      </price_slider_settings>
      <price_slider_conf>
        <timeout>0</timeout>
        <use_image>1</use_image>
        <handle_image>default/price_slider_arrow_1.png</handle_image>
        <handle_color>#d7d5d5</handle_color>
        <background_color>#d7d5d5</background_color>
        <range_color>#add4d9</range_color>
		<handle_width>7</handle_width>
		<handle_height>12</handle_height>
		<slider_width>auto</slider_width>
		<slider_height>3</slider_height>
        <textbox>0</textbox>
		<textBoxCss>border:solid 1px #ccc; color:#555; padding:3px; width:50px; margin-bottom:10px;</textBoxCss>
      </price_slider_conf>
	  <ajax_conf>
        <layered>1</layered>
        <slider>1</slider>
        <toolbar>1</toolbar>
		<overlay_color>#000000</overlay_color>
		<overlay_opacity>0.5</overlay_opacity>
		<loading_text>Loading... Please wait...</loading_text>
		<loading_text_color>#ffffff</loading_text_color>
	  </ajax_conf>
    </price_slider>
  </default>
</config>
