<?xml version="1.0"?>
<config>
    <modules>
        <Eternal_All>
            <version>1.0.0</version>
        </Eternal_All>
    </modules>
    <global>
        <helpers>
            <eternal_all>
                <class>Eternal_All_Helper</class>
            </eternal_all>
        </helpers>
    </global>
</config>