<!--@subject Email - Header @-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="initial-scale=1.0, width=device-width" />
</head>
<body>

<center>
    <table width="550" border="0" cellspacing="0" cellpadding="0" style="border:1px solid #e7eaed;">
        <tbody>
        <tr>
            <td width="11" bgcolor="#ecf1f5">&nbsp;</td>
            <td width="127" bgcolor="#ecf1f5">&nbsp;</td>
            <td width="115" bgcolor="#ecf1f5">&nbsp;</td>
            <td width="3" bgcolor="#ecf1f5">&nbsp;</td>
            <td width="277" bgcolor="#ecf1f5">&nbsp;</td>
            <td width="15" bgcolor="#ecf1f5">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#ecf1f5">&nbsp;</td>
            <td bgcolor="#ecf1f5"><img src="https://www.jenu.com/media/email/logo.png" alt="JeNu" width="127" height="29"></td>
            <td colspan="3" bgcolor="#ecf1f5" valign="middle" align="right">
                <a href="#" style="font-family:Helvetica,Arial,Verdana;font-size:12px;color:#000;font-weight:bold;text-decoration:none;text-transform:uppercase;display:inline-block;padding: 0 6px;">How JeNu Works</a>
                <a href="#" style="font-family:Helvetica,Arial,Verdana;font-size:12px;color:#000;font-weight:bold;text-decoration:none;text-transform:uppercase;display:inline-block;padding: 0 6px;">About</a>
                <a href="#" style="font-family:Helvetica,Arial,Verdana;font-size:12px;color:#000;font-weight:bold;text-decoration:none;text-transform:uppercase;display:inline-block;padding: 0 6px;">Results</a>
                <a href="#" style="font-family:Helvetica,Arial,Verdana;font-size:12px;color:#000;font-weight:bold;text-decoration:none;text-transform:uppercase;display:inline-block;padding: 0 6px;">Shop</a>
            </td>
            <td bgcolor="#ecf1f5">&nbsp;</td>
        </tr>
        <tr>
            <td bgcolor="#ecf1f5">&nbsp;</td>
            <td colspan="4" bgcolor="#ecf1f5" valign="middle">
                <div style="width:100%;height:1px;background:#d6dade;"></div>
            </td>
            <td bgcolor="#ecf1f5">&nbsp;</td>
        </tr>
                    <!-- Begin Content -->
