<config>
	<modules>
		<Schogini_Addtocart>
			<version>1.0.0.0</version>
		</Schogini_Addtocart>
	</modules>

	<frontend>
        <routers>
            <schogini_addtocart>
                <use>standard</use>
                <args>
                    <module>Schogini_Addtocart</module>
                    <frontName>schaddtocart</frontName>
                </args>
            </schogini_addtocart>
        </routers>
    </frontend>

	<adminhtml>
	    <acl>
          <resources>
            <admin>
              <children>
                <system>
                  <children>
                    <config>
                      <children>
                        <schaddtocartconfig translate="title" module="schogini_addtocart">
                          <title>Schogini Magento Add to Cart Config</title>
                          <sort_order>50</sort_order>
                        </schaddtocartconfig>
                      </children>
                    </config>
                  </children>
                </system>
              </children>
            </admin>
          </resources>
        </acl>
	</adminhtml>

	<global>
		<blocks>
			<schogini_addtocart>
				<class>Schogini_Addtocart_Block</class>
			</schogini_addtocart>
		</blocks>
		<helpers>
			<schogini_addtocart>
				<class>Schogini_Addtocart_Helper</class>
			</schogini_addtocart>
		</helpers>
	</global>

  <adminhtml>
        <events>
            <controller_action_predispatch>
                <observers>
                    <schogini_update>
                        <type>singleton</type>
                        <class>Schogini_Addtocart_Model_Update_Feed</class>
                        <method>check</method>
                    </schogini_update>
                </observers>
            </controller_action_predispatch>
        </events>
    </adminhtml>
</config>