<?xml version="1.0"?>
<config>
    <tabs>
        <Schoginiaddtocart translate="label" module="schogini_addtocart">
            <label>Schogini Add to Cart CMS Button Generator</label>
            <sort_order>301</sort_order>
        </Schoginiaddtocart>
    </tabs>
    <sections>
        <schaddtocartconfig translate="label" module="schogini_addtocart">
            <label>Generate</label>
            <tab>Schoginiaddtocart</tab>
            <sort_order>130</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <sch_addtocartgeneral translate="label">
                    <label>Generate CMS Add to Cart Button Url</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>9</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <sch_addtocart_productid translate="label">
                            <label>Product ID</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>Give the product id you want to generate CMS add to cart url for.</comment>
                        </sch_addtocart_productid>
                        <sch_addtocart_regenerate translate="label">
                            <label></label>
                            <frontend_type>button</frontend_type>
                            <frontend_model>schogini_addtocart/button</frontend_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sch_addtocart_regenerate>
                        <sch_addtocart_qrcode translate="label">
                            <label></label>
                            <frontend_type>label</frontend_type>
                            <frontend_model>schogini_addtocart/label</frontend_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </sch_addtocart_qrcode>
                    </fields>
                </sch_addtocartgeneral>
            </groups>
        </schaddtocartconfig>
    </sections>
</config>
