<?xml version="1.0"?>
<config>
  <modules>
    <LinkstureDCCL_ApplyCoupon>
      <version>0.1.0</version>
    </LinkstureDCCL_ApplyCoupon>
  </modules>
  <global>
        <models>
			<applycoupon>
			  <class>LinkstureDCCL_ApplyCoupon_Model</class>
			</applycoupon>
		</models>
  </global>		
  <frontend>
    <events>
      <checkout_cart_product_add_after>
        <observers>
          <ApplyCoupon_apply>
            <type>singleton</type>
            <class>applycoupon/observer</class>
            <method>applyCouponEvent</method>
          </ApplyCoupon_apply>
        </observers>
      </checkout_cart_product_add_after>
    </events>
    <routers>
      <applycoupon>
        <use>standard</use>
        <args>
          <module>LinkstureDCCL_ApplyCoupon</module>
          <frontName>applycoupon</frontName>
        </args>
      </applycoupon>
    </routers>
  </frontend>
</config>
