<?xml version="1.0"?>
<config>
    <modules>
        <Eternal_Brands>
            <version>1.0.0</version>
        </Eternal_Brands>
    </modules>
    <frontend>
        <layout>
            <updates>
                <eternal_brands>
                    <file>eternal_brands.xml</file>
                </eternal_brands>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <eternal_brands>
                <class>Eternal_Brands_Model</class>
            </eternal_brands>
        </models>
        <blocks>
            <eternal_brands>
                <class>Eternal_Brands_Block</class>
            </eternal_brands>
        </blocks>
        <helpers>
            <eternal_brands>
                <class>Eternal_Brands_Helper</class>
            </eternal_brands>
        </helpers>
    </global>
    <default>
        <eternal_brands>
            <general>
                <brand_title>Manufacturers</brand_title>
                <attr_id>manufacturer</attr_id>
                <image_extension>png</image_extension>
                <link_search_enabled>1</link_search_enabled>
            </general>
            <slider>
                <enable>1</enable>
                <custom_enable>0</custom_enable>                
            </slider>
        </eternal_brands>
    </default>
</config>