
.main{
    height: 100%;
}

.cms-index-index .main-container .main{
    padding-top: 0px;
}

.main-content{
    min-height: 100%;
}

.tp-bgimg.defaultimg{
    background-color: transparent;
    background-image: url("/media/wysiwyg/hp-bg.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    opacity: 1;
    position: relative;
    width: 100%;
}

.hp-copy{
    position: absolute;
    right: 0;
    text-align: right;
    top: 20%;
    width: 100%;
    display: inline-block;
}

.hp-copy-bg{
    background: url("../images/bg_hp_copy_rtl.png") repeat-y scroll right center rgba(0, 0, 0, 0);
    color: #fff;
    font-family: "Univers_Condensed","Helvetica Neue",Helvetica,Arial;
    font-size: 24px;
    height: 120px;
    padding: 5px 48px 24px 24px;
}

.hp-copy .hp-copy-inner{
    text-align: left;
    display: inline-block;
    font-family: "Univers_Condensed","Helvetica Neue",Helvetica,Arial;
    font-size: 20px;
}

.hp-copy .hp-copy-inner p:first-child {
    font-family: "apexsanslightst",Arial,Helvetica;
    font-size: 32px;
}


#custom .bx-container {
    margin-top: 80px;
}

#custom .bx-wrapper {
    position: static;
    width: 456px;
}

#custom .bx-viewport {
    height: 392px !important;
}

#custom .bx-controls-direction {
    margin: 15px 0px;
    text-align: center;
}

#custom .bxslider li a img{
    border: 1px solid white;
}

#custom {
    height: 643px;
    position: relative;
    margin-top:250px;
}

#custom .big-image {
    height: 643px;
    background: url("http://jenu-dev:8888/media/wysiwyg/hp-bg.jpg") center no-repeat;
    background-size: cover;
    position: absolute;
    top: 0px;
    width: 100%;
    z-index: -1;
}

#custom .big-text {
    background: url("http://jenu-dev:8888/skin/frontend/zonda/default/images/bg_hp_copy.png") transparent;
    width: 100%;
    height: 130px;
    left: 0px;
    bottom: 15%;
    position: absolute;
    color: #FFF;
    font-size: 24px;
    font-family: "Univers_Condensed","Helvetica Neue",Helvetica,Arial;
    padding: 24px;
}

#custom p {
    line-height: 1.6;
}

#custom .bx-next, #custom .bx-prev {
    background: #237B94;
}

#custom .bx-next:hover, #custom .bx-prev:hover {
    background: #83D2E4;

}
@media (max-width: 1130px) {

    #custom {
        height: 500px;
        margin-top:200px;
    }

    #custom .big-image {
        height: 500px;
    }

    #custom .big-text {
        font-size: 14px;
        padding: 14px;
        bottom: 10%;
        height: 90px;
    }

    #custom .bx-container {
        margin-top:110px;

    }

    #custom .bx-wrapper {
        width: 356px;
        margin-top:100px;
    }

    #custom .bx-viewport {
        height: 310px !important;
    }

}

@media (max-width: 751px) {

    #custom {
        height: 300px;
        margin-top:150px;
    }

    #custom .big-image {
        height: 300px;
    }

    #custom .big-text {
        font-size: 13px;
        padding: 10px;
        bottom: 0px;
        height: 90px;
    }

    #custom .container {
        display: none;
    }

    #custom .bx-controls-direction {
        display: none;
    }

}
