/* CSS Document */



#page-contents.container{
	color: #272727;
	font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 16px;
	padding-bottom: 50px;
}

#page-contents.container h1{
	margin-bottom: 16px;
}


#page-contents.container h4{
	margin-bottom: 0px;
	font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 16px;
	font-size: 16px;
}

img.logo_image{
	margin: auto;
}


#page-contents.container h6.logo_caption_source a.logo_caption_read_more{
	font-weight: normal;
	font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
}


#page-contents.container h6.logo_caption_source{
	font-weight:bold;
	font-size: 16px;
	font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
}


#page-contents.container .border-bottom{
	border-bottom: 1px solid #f2f2f2;
	margin: 18px 0px;
}

span.pipe{
	font-weight: normal;
}

#page-contents.container .logo_caption_inner_container{
}

#page-contents.container .logo_caption_inner_container .logo_caption, .container .logo_caption_inner_container h4{
	font-style: italic;
}

@media(min-width: 1201px){

	.container_row{
		margin: 0px auto;
		padding-bottom: 10px;
	}

	.page_header_InThePress{
		font-weight:bold;
		margin: 0px auto;
	}

	.logo_caption{
		margin: 0px auto;
		line-height: 18px;
		text-align: justify;
	}

	.logo_caption_outer_container{
		margin: 0px auto;
	}

	.logo_caption_inner_container{
		margin: 0px auto;
		padding-top: 30px;
	}

}

@media(max-width: 1200px){


	.container_row{
		margin: 0px auto;
		padding: 10px 0px;
	}

	#page-contents.container .row .col-sm-3 img.img-responsive.logo_image{
		display: inline-block;
		margin-bottom: 20px;
	}

    #page-contents.container .row .col-sm-3{
		text-align: center;
	}

	.logo_caption_inner_container{
		margin: 0px auto;
		padding-top: 0px;
		text-align: left;
	}

	.logo_caption{
		margin: 0px auto;
		line-height: 20px;
	}

	#page-contents.container .border-bottom{
		margin: 2px 0px 20px 0px;
	}

	#page-contents.container{
		font-size:14px;
	}


	#page-contents.container h4{
	line-height: 14px;
	font-size: 14px;
	}


	#page-contents.container h6.logo_caption_source{
		font-size: 14px;
	}

	#page-contents.container h6.logo_caption_source a.logo_caption_read_more{
		font-size: 14px;
	}



}
