
@font-face {
    font-family: 'Neutraface2TextBook';
    src: url('../fonts/Neutra2Text-Book/neutra2text-book.eot');
    src: url('../fonts/Neutra2Text-Book/neutra2text-book.eot') format('embedded-opentype'),
         url('../fonts/Neutra2Text-Book/neutra2text-book.woff2') format('woff2'),
         url('../fonts/Neutra2Text-Book/neutra2text-book.woff') format('woff'),
         url('../fonts/Neutra2Text-Book/neutra2text-book.ttf') format('truetype'),
         url('../fonts/Neutra2Text-Book/neutra2text-book.svg#Neutraface2TextBook') format('svg');
}
@font-face {
	font-family: 'Conv_Neutraface2Text-Bold';
	src: url('../fonts/Neutraface2Text-Bold/Neutraface2Text-Bold.eot');
	src: local('☺'), url('../fonts/Neutraface2Text-Bold/Neutraface2Text-Bold.woff') format('woff'),
	 url('../fonts/Neutraface2Text-Bold/Neutraface2Text-Bold.ttf') format('truetype'),
	 url('../fonts/Neutraface2Text-Bold/Neutraface2Text-Bold.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
    font-family: 'Neutraface2TextDemi';
    src: url('../fonts/Neutra2Text-Demi/neutra2text-demi.eot');
    src: url('../fonts/Neutra2Text-Demi/neutra2text-demi.eot') format('embedded-opentype'),
         url('../fonts/Neutra2Text-Demi/neutra2text-demi.woff2') format('woff2'),
         url('../fonts/Neutra2Text-Demi/neutra2text-demi.woff') format('woff'),
         url('../fonts/Neutra2Text-Demi/neutra2text-demi.ttf') format('truetype'),
         url('../fonts/Neutra2Text-Demi/neutra2text-demi.svg#Neutraface2TextDemi') format('svg');
}
@font-face {
	font-family: 'Conv_Neutra2Text-Light';
	src: url('../fonts/Neutra2Text-Light/Neutra2Text-Light.eot');
	src: local('☺'), url('../fonts/Neutra2Text-Light.woff') format('woff'),
	 url('../fonts/Neutra2Text-Light/Neutra2Text-Light.ttf') format('truetype'),
     url('../fonts/Neutra2Text-Light/Neutra2Text-Light.svg') format('svg');
	font-weight: normal;
	font-style: normal;
}

#homeslider-revolution .desc_banner {
  border-width: 0;
  font-size: 15px !important;
  font-weight: normal !important;
  top: 438px !important;
  left:192px !important;
}

#homeslider-revolution .small-button {
  font-size: 14px !important;
  top: 646px !important;
/* left: 434px !important; */
text-shadow: -1px -1px 2px rgba(0,0,0,.2);
}

#homeslider-revolution .black_small_text {
	font-size:15px;
	left:192px !important;
}
.header-container {
background-color: rgba(255,255,255,.95) !important;
background-position: center center;
background-repeat: repeat;
}

#nav .float-right a {
background: none repeat scroll 0 0 #008ab0;
border-bottom: 4px solid #82d2e5;
border-top: 4px solid #82d2e5;
color: #fff;
font-weight: normal;
padding: 0 48px !important;
font-size: 12px;
text-shadow: -1px -1px 2px rgba(0,0,0,.2);
}


div.menu a, #nav li a, #blog_nav li a, #nav-links a {
  font-family: "Neutraface2TextBook";
  font-size: 12px;
  padding: 0 12px;
}

#custommenu #nav .level1 a {
font-family: "Neutraface2TextBook";
text-transform: none !important;
font-size: 13px !important;
line-height: 140%;
padding: 10px !important;
}

.category-banner {
height: 100%;
margin-top: 0px !important;
min-height: 120px !important;
width: 100%;
border-bottom: 1px solid #eee;
}

.tp-caption.dark_text {
position: absolute;
color: #fff;
text-shadow: none;
font-size: 18px;
line-height: 18px;
margin: 0px;
border-width: 0px;
border-style: none;
white-space: nowrap;
}

.tp-caption.dark_big_text {
font-family: "Neutraface2TextBook", sans-serif;
font-size: 60px;
line-height: 65px;
text-transform: none;
letter-spacing:-2px;
text-shadow:1px 1px 1px rgba(0,0,0,.2);
}

.tp-caption.dark_more_small_text {
position: absolute;
font-family: 'Helvetica', sans-serif;
font-size: 14px;
line-height: 1.3;
font-weight:300;
}

.home-adv-desc {
font-size: 15px !important;
margin: 5px 0 11px;
line-height: 130%;
border-bottom: 1px dotted #ddd;
padding-bottom: 8px;
}

.category-image {
	margin-bottom:0px !important;
}

.divider.col12 {
margin-bottom: 40px;
margin-top: 40px;
}

.left-qa.col4 {
width: 31.9999999999999%;
}
.right-qa.col8 {
	width:68%;
}

.left-qa.col4 h2 {
font-size: 56px;
line-height: 100%;
font-family: "Neutraface2TextBook";
letter-spacing: -1px;
margin-bottom: 30px;
}

.questions {
margin-bottom: 15px;
}

.questions p {
font-size: 14px;
line-height: 130% !important;
}

.left-qa img {
max-width: 299px;
}