/* System Config Styles */
/* Created at 2015-03-17 17:31:54 */

/*========== Common Styles ==========*/
body {
    background-color: #ffffff;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #747474;
}
h1,
h2,
h3,
h4,
h5,
h6,
.page-title h1,
.page-title h2 {
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #0069a7;
}
a {
    color: #75aedf;
}
a:hover {
    color: #0069a7;
}
.button,
.sbToggle,
.pager .pages ol li a,
.pager .pages ol li.current,
.button-normal {
    display: inline-block;
    background-color: #0067aa;
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #ffffff;
    font-size: 13px;
    text-transform: uppercase;
}
.cms-no-route .main-content .form-search .input-text {
    border: solid 1px #0067aa;
}
.pager .pages ol li a {
    color: #ffffff;
}
.button:hover,
.sbToggle:hover,
.sbToggle:focus,
.pager .pages ol li a:hover,
.pager .pages ol li a:focus ,
.button-normal:hover,
.btn-remove2:hover,
.btn-remove:hover
{
    background-color: #004c7e;
    color: #ffffff;
}
.button.link-wishlist:hover,
.button.link-wishlist:focus,
.button.link-compare:hover,
.button.link-compare:focus {
    background-color: #0067aa;
}
.pager .pages ol li a:hover,
.pager .pages ol li a:focus {
    color: #ffffff;
}
input.input-text,
select,
textarea,
.sbSelector,
.sbOptions {
    background: #f2f2f0;
    border: solid 1px #ebebea;
    color: #848484;
}
/* Grouped fields */
.form-list label,
.product-view .box-tags .form-add label {
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-transform: capitalize;
    color: #848484;
}
.form-list label.required em,
.content label.required em {
    color: #92c0e7;
}
/*========== Header Top ==========*/

/*========== Header ==========*/
.header-container {
    background-color: #ffffff;
    background-position: center center;
    background-repeat: repeat;
}
.header-container a,
.block-minicart,
.block-language,
.block-currency,
.block-minicart .mini-cart-button,
.store-switcher .block-content a,
#mini-cart .mini-cart-button .price,
.block.block-minicart .block-subtitle,
.header-top .block-minicart .mini-cart-button.button,
#nav li a{
    color: #000000;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.header-container .block-language a .item-value,
.header-container .block-currency a .item-value {
    color: ;
}
.menu-active #menu-button a{
    background-color: #d8d8d8;
    color: #000000;
}
.menu-active #menu-button .btn-navbar .icon-bar{
    background-color: #a1abb3;
}
.header-container.fixed .header-menu-back {
    background-color: #ffffff;
}
.header-container .logo{
    height: 42px;
    width: 150px;
    text-align: center !important;
    margin-top: 1px;
    line-height: 48px;
}
.header-container.fixed .header-menu-container {
    max-width: 1030px;
    padding: 0 15px;
}
.header-container.fixed .sticky-logo{
    height: 70px;
    line-height: 70px;
    text-align: center !important;
    background-color: rgba(42, 64, 72, 0);
}
.header-menu{
    border-top: solid 1px rgba(255,255,255,0.1);
}
.header-container.fixed .header-menu{
    border: none;
}
.header-right,
.header-container.fixed .header-menu {
    width: 100%;
    float: right;
    height: 38px;
}
.header-long {
    background: #ecf1f5;
    height: 56px;
}
#custommenu-mobile #menu-button{
    margin: 0;
    line-height: 48px;
    height: 48px;
    position: relative;
    background: #fff;
    padding: 0 4px;
}
#custommenu-mobile #menu-button a,
#custommenu-mobile #menu-button a:link,
#custommenu-mobile #menu-button a:visited{
    display: block;
    height: 32px;
    padding-top: 16px;
}
/*========== Top Links ==========*/
.toplinks a:hover{
    color: #ffffff;
}
.toplinks li{
    color: #000000;
}
/*========== Currency, Language Selector, Store Switcher ==========*/
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.dropdown-menu > .active > a,
.dropdown-menu > .active > a:hover,
.dropdown-menu > .active > a:focus,
.dropdown-submenu:hover > a {
    background-color: #0069a7 !important;
    background-image: none;
}
.block-currency .block-content > a,
.block-language .block-content > a,
.store-switcher .block-content > a {

}
.dropdown-menu > li{
    border-top: solid 3px #ffffff;
}
.open>a{
    background-color: #0069a7;
}
/*========== Minicart ==========*/
#mini-cart .mini-cart-button,
#mini-cart .dropdown-menu {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

}
#mini-cart.open .mini-cart-button,
#mini-cart.open .mini-cart-button .price{
    background-color: #ebebeb;
    color: #0069a7;
}
#mini-cart .dropdown-menu{
    background-color: #ebebeb;
    background-position: center center;
    background-repeat: repeat;
    border: solid 1px #ebebeb;
    color: #000000;
}
/*========== Search Form ==========*/
.header-container .header-container .form-search .input-text,
.header-container .form-search .button{
    background-color: transparent;
}
.header-container .form-search .button span.icon-search,
.header-container .form-search .button span.icon-close{
    display: block;
    width: 100%;
    height: 30px;
    margin-top: 0;
}
.header-container .form-search .button span.icon-search{
    background: url(../images/icons/white/icon_search.png) no-repeat center center;
}
.header-container .form-search .button:hover span.icon-search,
.header-container .form-search .button:focus span.icon-search{
    background-image: url(../images/icons/white/icon_search.png);
    margin-top: 0;
}
.header-container .form-search .button span.icon-close{
    background: url(../images/icons/white/icon_search_close.png) no-repeat center center;
}
.header-container .form-search .input-text{
    color: #efefef;
}
.header-container .form-search {
    border: solid 1px #efefef;
}
/*========== Main Menu ==========*/
.logo-mobile {
    display: none;
}
.header-menu {
    background-position: center center;
    background-repeat: repeat;
    position: relative;
}
#menu-button a {
    background-color: transparent;
}
div.menu{
    margin: 0 24px 0 0;
}
div.menu a,
#nav li a,
#blog_nav li a,
#nav-links a{
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding: 0 12px;
}
div.menu a:hover,
div.menu a:focus,
div.menu.active a,
#nav>li>a:hover,
#nav>li>a:focus,
#nav>li.active>a,
#nav>li.over>a,
#nav-links li a:hover,
#nav-links li a:focus,
#nav-links li.active a,
#nav-links li.over a,
#blog_nav>li>a:hover,
#blog_nav>li>a:focus,
#blog_nav>li.active>a,
#blog_nav>li.over>a
{
    color: #0069a7;
    background-color: #ffffff;
    background-image: none;
}
#custommenu{
    left: -12px;
}
.header-container.fixed .header-menu-container .parentMenu{
    padding: 19px 0;
}
.header-container .also-available-mobile {
    display: none;
}
#nav ul, #nav div, #blog_nav ul {
    top: 79px;
}
.menu-mobile .parentMenu:hover{
    background-color: #ffffff;
}
#nav ul li,
#blog_nav ul li,
div.itemSubMenu a {
    border: none;
}
#nav ul.level0 li a,
#blog_nav ul.level0 li a {
    background: none;
}
div.eternal-custom-menu-popup>div,
#custommenu-mobile #menu-content,
#nav ul,
#nav div,
#blog_nav ul,
#blog_nav div,
#nav-links ul,
#nav-links div {
    border-style: solid;
    border-width: 0px;
    border-color: #ffffff;
    background-color: #ffffff;
    background-clip: padding-box;
}
div.eternal-custom-menu-popup a,
.menu-mobile a{
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
}
div.eternal-custom-menu-popup a.level1,
.menu-mobile a.level1,
.menu-mobile .parentMenu a ,
#nav ul li.level1 a,
#blog_nav ul li.level1 a{
    font-size: 13px;
    color: #0068a3;
}
div.eternal-custom-menu-popup a.level2,
.menu-mobile a.level2,
#nav ul li.level2 a,
div.eternal-custom-menu-popup a.level3,
.menu-mobile a.level3,
#nav ul li.level3 a,
div.eternal-custom-menu-popup a.level4,
.menu-mobile a.level4,
#nav ul li.level4 a,
div.eternal-custom-menu-popup a.level5,
.menu-mobile a.level5,
#nav ul li.level5 a,
#blog_nav ul li.level2 a{
    font-size: 13px;
    color: #000000;
}
.menu-mobile.level0 > .parentMenu > a:hover,
div.eternal-custom-menu-popup a.level1:hover,
.menu-mobile a.level1:hover,
div.eternal-custom-menu-popup a.level2:hover,
.menu-mobile a.level2:hover{
    color: #0067aa;
}
#menu-button .btn-navbar .icon-bar {
    background-color: #a1abb3;
}

/*========== Arrow Buttons ==========*/
.flex-direction-nav a,
.bx-has-controls-direction .bx-controls-direction a,
.footer-tweets .twitter-nav-container a{
    background-color: #d1d1d1;
}
.flex-direction-nav a:hover,
.flex-direction-nav a:focus,
.bx-has-controls-direction .bx-controls-direction a:hover,
.bx-has-controls-direction .bx-controls-direction a:focus,
.footer-tweets .twitter-nav-container a:hover{
    background-color: #66b1b8;
}
/*========== Home Slider ==========*/
.cms-index-index .main-container .main-banner,
.cms-index-index .main-container .main,
.cms-index-index .footer-container{
    display: none;
}
/*========== Brand Slider ==========*/
#brand-slider .bx-controls a {
    position: absolute;
    top: 11px;
}
#brand-slider .bx-controls a.bx-prev{
    left: -45px;
}
#brand-slider .bx-controls a.bx-next{
    right: -45px;
}
.brand-slider-wrap{
    padding: 75px 45px;
}
/*========== Footer ==========*/
.footer {
    color: #747474;
    background-color: #dcdbdb;
    background-position: center center;
    background-repeat: repeat;
    font-size: 13px;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer-tweets {
    background-color: #e4e4e4;
    color: #777777;
}
.footer-tweets a {
    color: #66b1b8;
}
.footer-tweets a:hover {
    color: #126000;
}
.footer-tweets .date {
    color: #bfbfbf;
}
.footer-tweets .twitter-icon {
}
.footer-tweets .text,
.footer-tweets .Twitter-Title {
    font-size: 14px;
}
.footer-top{
    color: #000000;
    background-color: #e7e7e7;
    background-position: center center;
    background-repeat: repeat;
    font-size: 13px;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer h3,
.footer .title {
    color: #0067aa;
    font-size: 14px;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer-top h3,
.footer-top .title {
    color: #000000;
}
.footer-top a,
.footer-main a {
    transition: color 300ms ease-in-out, padding 300ms ease-in-out;
    -moz-transition: color 300ms ease-in-out, padding 300ms ease-in-out;
    -webkit-transition: color 300ms ease-in-out, padding 300ms ease-in-out;
    -o-transition: color 300ms ease-in-out, padding 300ms ease-in-out;
}
.footer-top a{
    color: #000000;
}
#twitter-footer-slider,
#twitter-footer-slider .date{
    font-size: 13px;
}
.footer-main a {
    color: #747474;
}
.footer-main a:hover,
.footer-main a:focus {
    color: #0067aa;
    padding-left: 5px;
}
.footer-top a:hover,
.footer-top a:focus {
    color: #0067aa;
    padding-left: 5px;
}
.footer-top .fblike-box a:hover,
.footer-top .fblike-box a:focus,
.footer-main .fblike-box a:hover,
.footer-main .fblike-box a:focus {
    padding-left: 0;
}
.footer-top #twitter-footer-slider a,
.footer-main .fblike-box .facebook-like-wrap a {
    color: #0067aa;
}
.footer-main #twitter-footer-slider a,
.footer-main .fblike-box .facebook-like-wrap a {
    color: #0067aa;
}
.footer address{
    font-size: 13px;
    font-weight: normal;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.footer .footer-bottom address{
    color: #747474;
}
/*========== Quick Access, Wishlist, Compare Links ==========*/
/*========== Main ==========*/
/*========== Breadcrumbs ==========*/
.breadcrumbs {
    color: #747474;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    font-weight: normal;
}
.breadcrumbs a {
    color: #747474;
}

/*========== Product ==========*/
.products-grid .item-inner,
.products-list .item-inner,
.product-essential-inner .product-img-box,
.cc-item-container {
    background: #f8f8f8;
    border: solid 1px #e0e0e0;
}
.products-grid .ratings {
    background: #f8f8f8;
}
.product-name a,
.products-grid .product-name a,
.products-list .product-name a,
.price-box .minimal-price-link,
.price-box .price-from .price-label,
.price-box .price-to .price-label,
.product-view .product-name,
.product-view .product-name h1,
.review-row .review-title,
.product-view .box-up-sell h1.subtitle,
.product-view .block-related h1.subtitle,
.col-sidebar .block-content ul li .product-name a,
.on_date,
.cc-product-name a,
.product-tabs-content li .cc-product-name a,
.product-view .box-tags h3,
#fancybox-content .product-essential .product-shop .std{
    color: #333333;
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
}
.price {
    color: #0069a7;
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
}
.price-box .old-price .price {
    color: #747474;
}
.labels .sales,
.labels .new {
    color: #ffffff;
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
}
.ratings .amount a {
    color: #747474;
    font-family: Helvetica Neue", Helvetica, Arial, sans-serif;
}
.desc,
.desc .disc li,
.product-tabs-content,
.product-tabs-content h2,
.product-tabs-content li,
.product-tabs-content li a,
.quickview-main .product-view .short-description
{
    color: #747474;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

    font-size: 13px;
    line-height: 1.6;
}
.product-view .info-container p,
.product-view .info-container p.alert-urls a,
.product-view .info-container .product-pricing,
#fancybox-content .product-essential p,
.product-options dt,
.product-options dd,
.availability,
.quickview-main .product-shop .product-pricing{
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
}
.product-options-bottom,
.product-options {
    border-top: solid 1px #e0e0e0;
}
.product-view .product-options .options .sbSelector {
    background: transparent;
    border: solid 1px #e0e0e0;
}
.under-lines {
    border-top: solid 1px #e0e0e0;
    border-bottom: solid 1px #e0e0e0;
}
/*========== quickview ==========*/
.more-info,
.for-more{
    display: none;
}
.for-responsive {
    display: block;
}

/*========== Tab ==========*/
.by_name {
    color: #0c303c;
}
.product-tabs-ul,
.product-tabs-ul li{
    background-color: #eaeae9;
}
.product-tabs-ul li.active {
    background-color: #4d7190;
}
.product-tabs-ul li a {
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    font-size: 12px;
}
.product-tabs-ul li.active a {
    color: #ffffff;
}
.cc-item-container {
    border: solid 1px #e0e0e0;
}
.data-con {
    height: 238px;
}
.product-tabs-ul {
    border-bottom: solid 2px #0c303c;
}

/*========== Compare Products Page ==========*/
.data-table tr,
.data-table tr.even,
.checkout-cart-index .shipping-form,
.content {
    background-color: #f8f8f8;
}
.checkout-cart-index .shipping-form,
.data-table,
.content {
    border-bottom: 2px solid #ebebeb;
}
.heading,
.checkout-cart-index .data-table thead tr {
    background-color: #ebebeb;
}
.checkout-cart-index .cart-table th {
    border-bottom: solid 3px #ffffff;
}
.heading,
.data-table th,
.data-table td {
    border-color: #ffffff;
}
.heading,
.data-table th {
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
}
/*========== Category ==========*/
.category-banner .category-title,
.category-banner .category-title h1 {
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: bold !important;
    font-size: 60px;
    color: #747474;
}
.category-banner .category-description {
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: normal;
    font-size: 16px;
    color: #747474;
}
/*========== Toolbar ===========*/
.toolbar,
.pager {
    background-color: #ebebeb;
    font-size: 13px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    color: #888888;
}
/*========== Sidebar, Block, Data Table ==========*/
.block .block-title {
    background-color: #ebebeb;
    border-bottom: solid 2px #ebebeb;
}
.block .block-title strong {
    display: block;
    font-size: 15px;
    font-weight: normal;
    text-transform: uppercase;
    color: #000000;
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
}
.akordeon-border-bottom,
.block-layered-nav .block-content .actions{
    border-bottom: 2px solid #ffffff;
}
.col-sidebar .block-content {
    border-bottom: 2px solid #ebebeb;
}
.col-sidebar .block-bestseller .block-content  ul.products-grid li {
    border-top: solid 5px #ffffff;
}
.akordeon-heading,
.filter-item-head,
.block .block-subtitle{
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #000000;
    font-weight: normal;
    text-transform: uppercase;
}
.akordeon-heading a,
.filter-item-body .price p,
.filter-item-body .price .text-box,
.filter-item-body .price input[type="text"]
{
    color: #000000;
}
.col-sidebar .block .block-content {
    background-color: #f7f7f7;
}
.block .akordeon ul li a,
.block .akordeon ol li a,
.filter-item .filter-item-body ol li,
.filter-item .filter-item-body ul li,
.filter-item .filter-item-body ol li a,
.filter-item .filter-item-body ul li a,
.col-sidebar .block-content ul li a,
.currently .label,
.currently .value{
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13px;
    color: #777777;
    font-weight: normal;
    text-transform: capitalize;
}
.filter-item-body .price .text-box input[type="text"] {
    border: solid 1px #ebebeb;
    background-color: transparent;
}
.block .akordeon ul li a:hover,
.akordeon-heading a:hover,
.filter-item .filter-item-body ol li a:hover,
.filter-item .filter-item-body ul li a:hover,
.col-sidebar .block-content ul li a:hover{
    color: #0069a7;
}
/*========== Checkout Page ==========*/
/*========== Form List ==========*/
/*========== My Account ==========*/
/*========== Home Page Slider ==========*/
/*========== Slider Controls, Background Colors ==========*/
#slider-tab {
    border-bottom: solid 1px #ebebea;
}
#slider-tab>li>a {
    font-family: "Lato","Helvetica Neue", Helvetica, Arial, sans-serif;
}
#slider-tab>.active>a {
    border: solid 1px #ebebea;
    border-bottom-color: #ffffff;
}
/*========== Responsive ==========*/
@media(max-width: 991px){
    .header-container .container {
        width: 100%;
        max-width: 100%;
    }
    .header-top {
        height: 42px;
    }
    .header-top .risk-free-top .risk-free {
        height: 42px;
        line-height: 42px;
        margin: 0;
        padding: 0;
    }
    .header-container .toplinks {
        display: none;
    }
    .header-container .also-available-mobile {
        display: block;
    }
    .header-container .also-available-desktop,
    .logo-desktop {
        display: none;
    }
    .header-long {
        height: 48px;
        position: relative;
    }
    .header-menu-back {
        display: inline-block;
    }
    .logo-mobile {
        display: inline-block;
        position:absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        width: 110px;
        height: 31px;
    }
    .header-right{
        max-width: 100%;
        width: 100%;
    }
    .toplinks a{
        margin-left: 8px;
    }
    .block-currency{
        margin-left: 5px;
    }
    .cart-value{
        display: none;
    }
    .block-minicart .block-content{
        padding: 4px 0;
    }
    #custommenu-mobile #menu-button{
        margin: 0 0 0 14px;
        line-height: 48px;
        position: relative;
        margin-left: 10px;
    }
    #menu-button a,
    #menu-button a:link,
    #menu-button a:visited{
        display: block;
        height: 32px;
        padding-top: 10px;
    }
    .header-top .risk-free-top {
        float: left !important;
    }
    .header-menu {
        border-top: 0;
    }
}
@media(max-width: 767px){
    .header-container .container{
        padding: 0 !important;
    }
    .header-container .container.store-switcher {
        padding: 0 20px !important;
    }
    .header-right{
        max-width: none;
        width: 100%;
    }
    .header-right .header-top .left{
        float: none !important;
    }
    .header-top,
    .header-menu{
        border: none;
    }
    .header-menu{
        padding-left: 20px;
        margin-top: 5px;
    }
    #custommenu-mobile #menu-button{
        padding: 0;
        left: 0;
    }
    #menu-button a,
    #menu-button a:link,
    #menu-button a:visited{
        height: 40px;
        margin-top: 3px;
    }
    .mobile-block-container{
        padding: 0 20px;
    }
    .header-container .form-search {
        background: url(../images/border_line.png) repeat-y 0 50%;
        border: none;
    }
    .header-container .form-search .button{
        width: 57px;
    }
    .quick-access{
        margin-top: 3px;
    }
    .header-menu-right .header-right.menu-active,
    .menu-active .mobile-bg{
        background-color: #d8d8d8;
    }
    .data-table.cart-table tbody tr {
        border-bottom: solid 2px #ffffff;
    }
}
