<?xml version="1.0"?> 
<config>
    <modules>
        <Velanapps_Ecfplus>
            <version>1.0.0</version>
        </Velanapps_Ecfplus>
    </modules>
	<frontend>
		<routers>
			<ecfplus>
				<use>standard</use>
				<args>
					<module>Velanapps_Ecfplus</module>
					<frontName>ecfplus</frontName>
				</args>
			</ecfplus>
		</routers>
		<layout>
			<updates>
				<ecfplus>
					<file>ecfplus.xml</file>
				</ecfplus>
			</updates>
		</layout>
	</frontend>
    <global>
		<models>
            <ecfplus>
                <class>Velanapps_Ecfplus_Model</class>
                <resourceModel>ecfplus_mysql4</resourceModel>
            </ecfplus>			
            <ecfplus_mysql4>
                <class>Velanapps_Ecfplus_Model_Mysql4</class>
               <entities>
					<multiform>
						<table>ecfplus_multiform</table>
					</multiform>
					<items>
						<table>ecfplus_admin_items</table>
					</items>
					<storelocator>
						<table>ecfplus_storelocator</table>
					</storelocator>
					<storelocator_locations>
						<table>ecfplus_storelocator_locations</table>
					</storelocator_locations>
					<itemoptions>
						<table>ecfplus_admin_item_options</table>
					</itemoptions>
					<manage>
						<table>ecfplus_manage</table>
					</manage>					               
				</entities>
            </ecfplus_mysql4>
        </models>       		
		<resources>
            <ecfplus_setup>
                <setup>
                    <module>Velanapps_Ecfplus</module>
                </setup>
				<connection>
                    <use>core_setup</use>
                </connection>
            </ecfplus_setup>
			<ecfplus_read>               
				<connection>
                    <use>core_read</use>
                </connection>
            </ecfplus_read>
			<ecfplus_write>               
				<connection>
                    <use>core_write</use>
                </connection>
            </ecfplus_write>			
        </resources> 		
		<!-- Initialize the Helper class -->
		<helpers>
			<ecfplus>
				<class>Velanapps_Ecfplus_Helper</class>
			</ecfplus>
		</helpers>
		<blocks>
			<ecfplus>
				<class>Velanapps_Ecfplus_Block</class>
			</ecfplus>
		</blocks>
		<models>
			<ecfplus>
				<class>Velanapps_Ecfplus_Model</class>
			</ecfplus>
		</models> 
		<template>
			<email>
				<ecfplus_admin_template translate="label" module="ecfplus">
					<label>Ecfplus Admin Mail</label>
					<file>ecfplus_admin_email.html</file>
					<type>html</type>
				</ecfplus_admin_template>
				<ecfplus_customer_template translate="label" module="ecfplus">
					<label>Ecfplus Customer Mail</label>
					<file>ecfplus_customer_email.html</file>
					<type>html</type>
				</ecfplus_customer_template>
			</email>
		</template> 
		<events>
				<admin_system_config_changed_section_ecfplus_activation>
					<observers>
						<easycontactform>
							<type>singleton</type>
							<class>ecfplus/observer</class>
							<method>registrationEcfplus</method>
						</easycontactform>
					</observers>
				</admin_system_config_changed_section_ecfplus_activation>
		</events>
    </global>
	<admin>
        <routers>
            <ecfplus>
                <use>admin</use>
                <args>
                    <module>Velanapps_Ecfplus</module>
                    <frontName>ecfplus</frontName>
                </args>
            </ecfplus>
        </routers>
    </admin> 	
	<adminhtml>
		<menu>
			<ecfplus>
				<children>
					<velanaapps_ecfplus translate="title" module="ecfplus">
						<title>Store Locator</title>
						<action>ecfplus/adminhtml_storelocator/</action>
					</velanaapps_ecfplus>
				</children>
			</ecfplus>
		</menu>
		<layout>
			<updates>
				<ecfplus module="ecfplus">
					<file>ecfplus.xml</file>
				</ecfplus>
			</updates>
		</layout>
	</adminhtml> 
</config>