<?xml version="1.0"?>
<config>
    <modules>
        <Eternal_HomeSlider>
            <version>1.0.0</version>
        </Eternal_HomeSlider>
    </modules>
    <frontend>
        <layout>
            <updates>
                <eternal_homeslider>
                    <file>eternal_homeslider.xml</file>
                </eternal_homeslider>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <eternal_homeslider>
                <class>Eternal_HomeSlider_Block</class>
            </eternal_homeslider>
        </blocks>
        <models>
            <eternal_homeslider>
                <class>Eternal_HomeSlider_Model</class>
            </eternal_homeslider>
        </models>
        <helpers>
            <eternal_homeslider>
                <class>Eternal_HomeSlider_Helper</class>
            </eternal_homeslider>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <eternal_homeslider>
                    <file>eternal_homeslider.xml</file>
                </eternal_homeslider>
            </updates>
        </layout>
    </frontend>
    <default>
        <eternal_homeslider>
            <general>
                <enabled>1</enabled>
                <slider_type>normal</slider_type>
                <slider_position>top</slider_position>                
                <blocks>block_homeslider1,block_homeslider2,block_homeslider3</blocks>
                <active_fp>0</active_fp>
                <adv_block></adv_block>
                <block_plugin>revolution</block_plugin>
                <active_responsive>1</active_responsive>
                <show_controls>1</show_controls>
                <show_pager>1</show_pager>
                <transaction>slide</transaction>
                <speed>500</speed>
                <auto_play>1</auto_play>
                <timeout>7000</timeout>
                <pause_hover>0</pause_hover>
            </general>            
        </eternal_homeslider>
    </default>
</config>