<?xml version="1.0"?>
<config>
    <tabs>
        <eternal translate="label">
            <label>Zonda Extensions</label>
            <sort_order>150</sort_order>
        </eternal>
    </tabs>
    <sections>
        <eternal_homeslider translate="label">
            <label>Homepage Slider</label>
            <tab>eternal</tab>
            <frontend_type>text</frontend_type>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>1000</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Slider</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <slider_type translate="label">
                            <label>Slider Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>eternal_homeslider/system_config_source_slider_type</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </slider_type>
                        <slider_position translate="label">
                            <label>Slider Position</label>
                            <frontend_type>select</frontend_type>
                            <source_model>eternal_homeslider/system_config_source_slider_position</source_model>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <slider_type>normal</slider_type>
                            </depends>
                        </slider_position>                        
                        <block_plugin translate="label">
                            <label>Plugin Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>eternal_homeslider/system_config_source_block_plugin_type</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <slider_type>normal</slider_type>
                            </depends>
                        </block_plugin>
                        <!--<slider_fullwidth translate="label comment">
                            <label>Full Width Active</label>
                            <comment>Set to 'Yes', if you want to set full width.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>35</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <slider_type>normal</slider_type>
                                <slider_position>under</slider_position>
                                <block_plugin>revolution</block_plugin>
                            </depends>
                        </slider_fullwidth>-->
                        <blocks translate="label">
                            <label>Displayed Blocks</label>
                            <comment>Comma separated list of static block identifiers. These static blocks will be displayed as slides.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </blocks>
                        <active_fp translate="label comment">
                            <label>Active Freatured </label>
                            <comment>Set to 'Yes', if you want to active responsive.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>50</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <slider_type>normal</slider_type>
                            </depends>
                        </active_fp>
                        <adv_block translate="label comment">
                            <label>Displayed Advertising Block on slider</label>
                            <comment>This static block will be displayed as advertising on slides. If there is no block, the advertising does not display.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>55</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <slider_type>background</slider_type>
                            </depends>
                        </adv_block>
                        <active_responsive translate="label comment">
                            <label>Active Responsive </label>
                            <comment>Set to 'Yes', if you want to active responsive.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>60</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </active_responsive>
                        <show_controls translate="label comment">
                            <label>Show Controls</label>
                            <comment>Set to 'Yes', if you want to show the direction controls.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>70</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_controls>
                        <show_pager translate="label comment">
                            <label>Show Pager</label>
                            <comment>Set to 'Yes', if you want to show the pager.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>80</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_pager>
                        <transaction translate="label">
                            <label>Transaction Effect</label>
                            <frontend_type>select</frontend_type>
                            <source_model>eternal_homeslider/system_config_source_slider_transaction</source_model>
                            <sort_order>90</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </transaction>
                        <speed translate="label comment">
                            <label>Transaction Speed</label>
                            <comment>Time (in milliseconds) of slide transition animation.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </speed>
                        <auto_play translate="label comment">
                            <label>Auto Play</label>
                            <comment>Set to 'Enable', if you want to play automatically.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>110</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </auto_play>
                        <timeout translate="label comment">
                            <label>Timeout</label>
                            <comment>Time (in milliseconds) between slide transitions. Note that 1000 miliseconds = 1 second.</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>120</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </timeout>
                        <pause_hover translate="label comment">
                            <label>Pause on Hover</label>
                            <comment>Set to 'Enable', if you want to pause the transaction when the slideshow is mouseovered.</comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_enabledisable</source_model>
                            <sort_order>130</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </pause_hover>
                    </fields>
                </general>
            </groups>
        </eternal_homeslider>
    </sections>
</config>