<?xml version="1.0"?>
<config>
    <modules>
        <Eternal_Ajaxcart>
            <version>0.1.0</version>
        </Eternal_Ajaxcart>
    </modules>
    <frontend>
        <routers>
            <ajaxcart>
                <use>standard</use>
                <args>
                    <module>Eternal_Ajaxcart</module>
                    <frontName>ajaxcart</frontName>
                </args>
            </ajaxcart>
        </routers>
		<events>
           <core_block_abstract_prepare_layout_before>
               <observers>
                   <Eternal_ajaxcart_prepare_layout_before>
                       <class>ajaxcart/observer</class>
                       <method>prepareLayoutBefore</method>
                   </Eternal_ajaxcart_prepare_layout_before>
               </observers>
           </core_block_abstract_prepare_layout_before>
		</events>
    </frontend>
    <admin>
        <routers>
			<ajaxcart>
				<use>admin</use>
				<args>
					<module>Eternal_Ajaxcart</module>
					<frontName>ajaxcart</frontName>
				</args>
			</ajaxcart>
        </routers>
    </admin>
    <adminhtml>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<system>
								<children>
									<config>
										<children>
											<ajaxcart translate="title" module="ajaxcart">
												<title>Eternal Ajax Cart</title>
											</ajaxcart>
										</children>
									</config>
								</children>
							</system>
					</children>
				</admin>
			</resources>
		</acl>
    </adminhtml>
	<default>
		<ajaxcart>
			<general>
				<custom_css><![CDATA[#loading-mask { display: none; font-size: 1.1em; font-weight: bold; opacity: 0.8; position: fixed; text-align: center; z-index: 9000; width: 100%; height: 100%; }
#after-loading-success-message { display:none;  font-size: 1.1em; position: fixed; text-align: center; z-index: 9000; width: 100%;height: 100%;}
#success-message-container { border:2px solid #CCCCCC; font-weight:bold;  padding:15px 30px 30px; position:relative; text-align:center; top:35%; width:303px; z-index:10000; background:#FFFFFF none repeat scroll 0 0; margin: auto; }]]></custom_css>
			</general>
			<addtocart>
				<enablecategory>1</enablecategory>
				<enableproduct>1</enableproduct>
				<enableothers>1</enableothers>
			</addtocart>
			<addtolinks>
				<enablecategory>1</enablecategory>
				<enableproduct>1</enableproduct>
                <enableothers>1</enableothers>
			</addtolinks>
		</ajaxcart>
	 </default>	
    <global>
        <models>
            <ajaxcart>
                <class>Eternal_Ajaxcart_Model</class>
                <resourceModel>ajaxcart_mysql4</resourceModel>
            </ajaxcart>
            <ajaxcart_mysql4>
                <class>Eternal_Ajaxcart_Model_Mysql4</class>
                <entities>
                    <ajaxsuite>
                        <table>ajaxsuite</table>
                    </ajaxsuite>
                </entities>
            </ajaxcart_mysql4>
        </models>
        <resources>
            <ajaxcart_setup>
                <setup>
                    <module>Eternal_Ajaxcart</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ajaxcart_setup>
            <ajaxcart_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </ajaxcart_write>
            <ajaxcart_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </ajaxcart_read>
        </resources>
        <blocks>
            <ajaxcart>
                <class>Eternal_Ajaxcart_Block</class>
            </ajaxcart>
        </blocks>
        <helpers>
            <ajaxcart>
                <class>Eternal_Ajaxcart_Helper</class>
            </ajaxcart>
        </helpers>
    </global>
</config>