<?xml version="1.0"?>
<config>
    <modules>
        <Eternal_CustomMenu>
            <version>2.5.2</version>
        </Eternal_CustomMenu>
    </modules>
    <frontend>
        <layout>
            <updates>
                <eternal_custommenu>
                    <file>eternal_custommenu.xml</file>
                </eternal_custommenu>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <catalog>
                <rewrite>
                    <navigation>Eternal_CustomMenu_Block_Catalog_Navigation</navigation>
                </rewrite>
            </catalog>
            <page>
                <rewrite>
                    <html_topmenu>Eternal_CustomMenu_Block_Page_Html_Topmenu</html_topmenu>
                </rewrite>
            </page>
            <eternal_custommenu>
                <class>Eternal_CustomMenu_Block</class>
            </eternal_custommenu>
        </blocks>
        <helpers>
            <eternal_custommenu>
                <class>Eternal_CustomMenu_Helper</class>
            </eternal_custommenu>
        </helpers>
    <models>
            <eternal_custommenu>
                <class>Eternal_CustomMenu_Model</class>
            </eternal_custommenu>
        </models>
    </global>
    <default>
        <eternal_custommenu>
            <general>
                <enabled>1</enabled>
                <type>wide</type>
                <display_empty_categories>1</display_empty_categories>
                <max_level>3</max_level>
                <show_home_link>0</show_home_link>
                <show_home_icon>0</show_home_icon>
                <non_breaking_space>0</non_breaking_space>                
            </general>
            <columns>
                <count>3</count>
                <divided_horizontally>0</divided_horizontally>
                <integrate>0</integrate>
            </columns>
            <popup>
                <top_offset>0</top_offset>
            </popup>
            <custom>
                <block>block_custom_menu</block>
                <links></links>
                <mobile_links></mobile_links>
            </custom>
        </eternal_custommenu>
    </default>
</config>