<?xml version="1.0"?>
<config>
    <tabs>
        <eternal translate="label">
            <label>Zonda Extensions</label>
            <sort_order>150</sort_order>
        </eternal>
    </tabs>
    <sections>
        <eternal_custommenu translate="label">
            <label>Mega Menu</label>
            <tab>eternal</tab>
            <frontend_type>text</frontend_type>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <enabled translate="label">
                            <label>Enable</label>
                            <comment><![CDATA[In order to display a custom block with images or other html content in the popup, use the <b>Static Block</b> (<strong>CMS->Static Blocks</strong> section) with the ID like "<b>eternal_custommenu_83</b>", where "<b>83</b>" is the Category ID of this category]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </enabled>
                        <type translate="label">
                            <label>Menu Type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>eternal_custommenu/system_config_source_menu_type</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </type>
                        <display_empty_categories translate="label comment">
                            <label>Display empty categories</label>
                            <comment><![CDATA[An empty category is a category that has no products]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </display_empty_categories>
                        <max_level translate="label comment">
                            <label>Visible menu depth</label>
                            <comment><![CDATA[e.g. 1, 2, 3, 4 (0 - disable limits). For example, if you set this value to <b>2</b>, only second level categories will be displayed]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </max_level>
                        <show_home_link translate="label">
                            <label>Show the link "Home"</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_home_link>
                        <show_home_icon translate="label">
                            <label>Show "Home" Icon</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_home_icon>
                        <home_icon translate="label">
                            <label>Home Icon </label>
                            <frontend_type>image</frontend_type>
                            <backend_model>adminhtml/system_config_backend_image</backend_model>
                            <upload_dir config="system/filesystem/media" scope_info="1">eternal/custommenu</upload_dir>
                            <base_url type="media" scope_info="1">eternal/custommenu</base_url>
                            <sort_order>25</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </home_icon>
                        <non_breaking_space translate="label comment">
                            <label>Replace spaces with non-breaking spaces</label>
                            <comment><![CDATA[Insert <b>&amp;nbsp;</b> instead of a space in a name of a menu item]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </non_breaking_space>                        
                    </fields>
                </general>
                <columns translate="label">
                    <label>Columns</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>15</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <count translate="label comment">
                            <label>Number of columns</label>
                            <comment>e.g. 1, 2, 3. The maximum number of columns in the popup</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </count>
                        <divided_horizontally translate="label comment">
                            <label>Split categories left to right into columns</label>
                            <comment><![CDATA[Next Sub-category is placed to the next column]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </divided_horizontally>
                        <integrate translate="label comment">
                            <label>Merge small subcategories</label>
                            <comment><![CDATA[Merge small subcategory lists into one column (except the extream left categories)]]></comment>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </integrate>
                    </fields>
                </columns>
                <popup translate="label">
                    <label>Popup settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <top_offset translate="label comment">
                            <label>Top offset</label>
                            <comment>in pixels, (0 - to calculate the offset automatically)</comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </top_offset>
                    </fields>
                </popup>
                <custom translate="label">
                    <label><![CDATA[Custom Blocks & Links]]></label>
                    <frontend_type>text</frontend_type>
                    <sort_order>25</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                        <block translate="label comment">
                            <label>Custom Block</label>
                            <comment><![CDATA[In order to display a custom block with images or other html content in the popup, use the <strong>Static Block ID</strong> (<strong>CMS->Static Blocks</strong> section)<br/>e.g. menu_custom_block]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </block>
                        <links translate="label comment">
                            <label>Custom Links for Desktop</label>
                            <comment><![CDATA[In order to display custom links, use the <strong>Static Block ID</strong> (<strong>CMS->Static Blocks</strong> section)<br/>e.g. menu_custom_links]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </links>
                        <mobile_links translate="label comment">
                            <label>Custom Links for Mobile</label>
                            <comment><![CDATA[In order to display custom links, use the <strong>Static Block ID</strong> (<strong>CMS->Static Blocks</strong> section)<br/>e.g. menu_custom_mobile_links]]></comment>
                            <frontend_type>text</frontend_type>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </mobile_links>
                    </fields>
                </custom>
            </groups>
        </eternal_custommenu>
    </sections>
</config>