<?xml version="1.0"?>
<config>
    <modules>
        <Xtento_StockImport>
            <version>2.2.8</version>
        </Xtento_StockImport>
    </modules>
    <global>
        <helpers>
            <xtento_stockimport>
                <class>Xtento_StockImport_Helper</class>
            </xtento_stockimport>
        </helpers>
        <blocks>
            <xtento_stockimport>
                <class>Xtento_StockImport_Block</class>
            </xtento_stockimport>
        </blocks>
        <models>
            <xtento_stockimport>
                <class>Xtento_StockImport_Model</class>
                <resourceModel>xtento_stockimport_mysql4</resourceModel>
            </xtento_stockimport>
            <xtento_stockimport_mysql4>
                <class>Xtento_StockImport_Model_Mysql4</class>
                <entities>
                    <profile>
                        <table>xtento_stockimport_profile</table>
                    </profile>
                    <source>
                        <table>xtento_stockimport_source</table>
                    </source>
                    <log>
                        <table>xtento_stockimport_log</table>
                    </log>
                </entities>
            </xtento_stockimport_mysql4>
        </models>
        <resources>
            <xtento_stockimport_setup>
                <setup>
                    <module>Xtento_StockImport</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </xtento_stockimport_setup>
            <xtento_stockimport_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </xtento_stockimport_write>
            <xtento_stockimport_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </xtento_stockimport_read>
        </resources>
        <events>
            <!-- This event is only dispatched for cron.php based executions. We can use it to add our own "dynamic" cronjobs to the config before the cron runs. Must be added in global area and not crontab area as only then it gets executed before "crontab default" event. -->
            <default>
                <observers>
                    <cron_observer_stock_import>
                        <type>model</type>
                        <class>xtento_stockimport/observer_cron_config</class>
                        <method>addCronjobsToConfig</method>
                    </cron_observer_stock_import>
                </observers>
            </default>
            <xtento_cronjob_dispatch_before>
                <observers>
                    <xtento_stockimport_xtento_cronjob_dispatch_before>
                        <type>model</type>
                        <class>xtento_stockimport/observer_cron_config</class>
                        <method>xtentoCronjobDispatchBefore</method>
                    </xtento_stockimport_xtento_cronjob_dispatch_before>
                </observers>
            </xtento_cronjob_dispatch_before>
            <adminhtml_controller_action_predispatch_start>
                <observers>
                    <add_cronjobs_to_config_for_aoe_scheduler_stock_import>
                        <type>model</type>
                        <class>xtento_stockimport/observer_cron_config</class>
                        <method>addCronjobsToConfigAoeScheduler</method>
                    </add_cronjobs_to_config_for_aoe_scheduler_stock_import>
                </observers>
            </adminhtml_controller_action_predispatch_start>
        </events>
    </global>
    <crontab>
        <events>
            <default>
                <observers>
                    <cron_observer_stock_import>
                        <type>model</type>
                        <class>xtento_stockimport/observer_cron_config</class>
                        <method>addCronjobsToConfig</method>
                    </cron_observer_stock_import>
                </observers>
            </default>
            <xtento_cronjob_dispatch_before>
                <observers>
                    <xtento_stockimport_xtento_cronjob_dispatch_before>
                        <type>model</type>
                        <class>xtento_stockimport/observer_cron_config</class>
                        <method>xtentoCronjobDispatchBefore</method>
                    </xtento_stockimport_xtento_cronjob_dispatch_before>
                </observers>
            </xtento_cronjob_dispatch_before>
        </events>
    </crontab>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <Xtento_StockImport before="Mage_Adminhtml">Xtento_StockImport_Adminhtml</Xtento_StockImport>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <default>
        <stockimport>
            <general>
                <default_page>stockimport_profile</default_page>
            </general>
        </stockimport>
    </default>
    <adminhtml>
        <layout>
            <updates>
                <xtento_stockimport>
                    <file>xtento/stockimport.xml</file>
                </xtento_stockimport>
            </updates>
        </layout>
        <events>
            <core_config_data_save_after>
                <observers>
                    <has_value_for_xtento_stockimport_configuration_changed>
                        <type>model</type>
                        <class>Xtento_StockImport_Model_System_Config_Backend_Import_Enabled</class>
                        <method>has_value_for_configuration_changed</method>
                    </has_value_for_xtento_stockimport_configuration_changed>
                </observers>
            </core_config_data_save_after>
        </events>
        <translate>
            <modules>
                <Xtento_StockImport>
                    <files>
                        <default>Xtento_StockImport.csv</default>
                    </files>
                </Xtento_StockImport>
            </modules>
        </translate>
        <!-- Following: Compatibility fix for Magento version 1.3 -->
        <menu>
            <system>
                <children>
                    <xtento_extensions translate="title">
                        <title>XTENTO Extensions</title>
                        <sort_order>1</sort_order>
                        <children>
                            <stockimport translate="title">
                                <title>Stock Import Configuration</title>
                                <sort_order>95</sort_order>
                                <action>adminhtml/system_config/edit/section/stockimport</action>
                            </stockimport>
                        </children>
                    </xtento_extensions>
                </children>
            </system>
            <catalog>
                <children>
                    <stockimport translate="title">
                        <title>Stock Import</title>
                        <sort_order>1000</sort_order>
                        <action>adminhtml/stockimport_index/redirect</action>
                        <children>
                            <manual translate="title">
                                <title>Manual Import</title>
                                <sort_order>5</sort_order>
                                <action>adminhtml/stockimport_manual</action>
                            </manual>
                            <log translate="title">
                                <title>Execution Log</title>
                                <sort_order>10</sort_order>
                                <action>adminhtml/stockimport_log</action>
                            </log>
                            <profile translate="title">
                                <title>Import Profiles</title>
                                <sort_order>20</sort_order>
                                <action>adminhtml/stockimport_profile</action>
                            </profile>
                            <source>
                                <title>Import Sources</title>
                                <sort_order>30</sort_order>
                                <action>adminhtml/stockimport_source</action>
                            </source>
                            <tools>
                                <title>Tools</title>
                                <sort_order>40</sort_order>
                                <action>adminhtml/stockimport_tools</action>
                            </tools>
                        </children>
                    </stockimport>
                </children>
            </catalog>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <catalog>
                            <children>
                                <stockimport>
                                    <title>XTENTO Stock Import</title>
                                    <sort_order>1000</sort_order>
                                    <children>
                                        <manual translate="title">
                                            <title>Manual Import</title>
                                            <sort_order>5</sort_order>
                                        </manual>
                                        <log translate="title">
                                            <title>Execution Log</title>
                                            <sort_order>10</sort_order>
                                        </log>
                                        <profile translate="title">
                                            <title>Import Profiles</title>
                                            <sort_order>20</sort_order>
                                        </profile>
                                        <source>
                                            <title>Import Sources</title>
                                            <sort_order>30</sort_order>
                                        </source>
                                        <tools>
                                            <title>Tools</title>
                                            <sort_order>40</sort_order>
                                        </tools>
                                    </children>
                                </stockimport>
                            </children>
                        </catalog>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <stockimport translate="title">
                                            <title>XTENTO Stock Import Configuration</title>
                                            <sort_order>1</sort_order>
                                        </stockimport>
                                    </children>
                                </config>
                                <xtento_extensions translate="title">
                                    <title>XTENTO Extensions</title>
                                    <sort_order>1</sort_order>
                                    <children>
                                        <stockimport_config translate="title">
                                            <title>Stock Import Configuration</title>
                                            <sort_order>495</sort_order>
                                            <action>adminhtml/system_config/edit/section/stockimport</action>
                                        </stockimport_config>
                                    </children>
                                </xtento_extensions>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>
<!--
/**
 * Product:       Xtento_StockImport (2.2.8)
 * ID:            %!uniqueid!%
 * Packaged:      %!packaged!%
 * Last Modified: 2015-03-13T22:35:23+01:00
 * File:          app/code/local/Xtento/StockImport/etc/config.xml
 * Copyright:     Copyright (c) 2015 XTENTO GmbH & Co. KG <info@xtento.com> / All rights reserved.
 */
-->