.droz-hero-right .droz-price {
    font-size: 16px;
}

.droz-hero-right .btn-cart {
    float: none;
    font-size: 14px;
    font-weight: normal;
    height: 40px;
    letter-spacing: 0.8px;
    line-height: 40px;
    width: auto;
    margin-top: 16px;
    padding: 0 14px;
}

.droz-hero-right .riskfree-seal {
    display: block;
    margin: 0 auto;
    max-width: 112px;
    text-align: center;
    width: 100%;
}

.droz-hero-right .cta-content-wrap {
    float: left;
}

.droz-hero-right .droz-hero-list li:hover {
    cursor: default;
}

.resultsvary {
    text-align: center;
    margin-top: 100px;
}

.droz-hero-right .droz-hero-list {
    margin: 0 0 16px 0;
}

.pressimg {
    font-size: 34px;
    line-height: normal;
    font-weight: 400;
    color: #000;
}

.disclaimer {
    font-size: 11px;
    font-family: Helvetica, "Helvetica Neue", Arial, sans-serif;
    color: #999;
    font-weight: normal;
}

.product-highlights .disclaimer {
    text-align: left;
    margin-top: 16px;
}

#howjenuworks .disclaimer {
    margin-top: 16px;
}

.droz-results .disclaimer {
    margin-top: 16px;
}

.droz-hero-right .buynow-heading {
    margin-top: 24px;
    font-size: 20px;
}

.droz-hero-right .new-price {
    font-size: 70px;
    line-height: 70px;
}

.droz-hero-right .new-price strong {
    color: #c03e3e;
}

.droz-hero-right .new-price .sm-price {
    font-size: 24px;
    line-height: 45px;
    vertical-align: top;
}

.droz-hero-right .droz-price-wrap {
    padding-top: 0;
}


.droz-hero-right .old-price {
    margin: 0;
    font-size: 13px;
    display: block;
    float: none;
}

.droz-hero-right .freegifts,
.droz-hero-right .freesh {
    font-size: 15px;
}



@media(max-width:991px) {
    .droz-hero-right .btn-cart {
        font-size: 12px;
        letter-spacing: 0.5px;
        padding: 0 14px;
    }
    .clinical-75-left {
        height: auto;
    }
    .droz-hero-right .droz-price-wrap {
        text-align: center;
    }
    .product-cta p.ltocopy {
        text-align: center;
    }
}