.droz-hero {
    background-image: none;
}

.header-container {display:none;}

.droz-gold .droz-hero-right .droz-hero-list li:before {
    font-family: "FontAwesome";
    color:#d19a8c;
    position: absolute;
    left: 0;
}

.droz-hero-right .droz-hero-list li {
    padding-left: 20px;
    margin-bottom: 5px;
    font-size: 14px;
}

.droz-gold .droz-hero-right h2.subplus {
    font-size: 18px;
    font-weight: 300;
    color: #000;
    margin-top: 0;
}

.droz-gold .droz-hero-right h1.title-plus {
    font-size: 28px;
    font-weight: 300;
    border-bottom: 1px solid #d19a8c;
    padding-bottom: 10px;
    margin-bottom: 10px;
    padding-right: 0;
    display: block;
    overflow: hidden;
}

.droz-gold .droz-hero-right h1.title-plus .subplus-title {
    font-weight: bold;
}

.hero-main-img.slick-slider {
    overflow: hidden;
    margin-bottom: 0;
}

.droz-hero-img-main {
    padding-top: 30px;
    padding-right: 10px;
}

.droz-hero-img-main .droz-hero-png,
.droz-hero-img-main img {
    width: 100%;
    max-width: 350px;
    margin: 0 auto;
}

.droz-hero .hero-thumbs {
    max-width: 350px;
    width: 100%;
    margin: 0 auto 30px auto;
}

.droz-hero .hero-thumbs li {
    margin: 0 1px;
    border: 1px solid #ccc;
    width: 68px;
    height: 66px;
    display: inline-block;
}

.droz-hero .hero-thumbs li.slick-center {
    border: 1px solid #000;
}

.droz-hero .hero-thumbs li img {
    width: 66px;
    height: 64px;
}

.hero-thumbs .slick-slide{
    width: 66px;
}

.droz-hero .hero-thumbs div {

}

.droz-wrap .hero-thumbs .slick-prev,
.droz-wrap .hero-thumbs .slick-next
{
    background-color: transparent;
    border: none;
    top: 5px;
}

.droz-wrap .hero-thumbs .slick-prev {
    left: -30px;
}

.droz-wrap .hero-thumbs .slick-next {
    right: -30px;
}

.droz-wrap .slick-prev:before,
.droz-wrap .slick-next:before
{
    font-size: 40px;
}

#before-afters-fancy {
    width: 100%;
}

.fancybox-skin {
    background: #fff;
}

.droz-hero-right h1 {
    padding-right: 0;
}

.droz-hero-right .ratings {
    display: inline-block;
    float: right;
    margin: 10px 0 0;
    text-align: right;
    width: auto;
}

.droz-hero-right .droz-hero-list {
    margin-top: 10px;
}

@media(max-width: 991px) {
    .droz-hero .hero-thumbs {
        padding: 0 8px;
        margin-right: 0;
    }
    .droz-wrap .hero-thumbs .slick-prev,
    .droz-wrap .hero-thumbs .slick-next
    {
        top: 3px;
        z-index: 99999;
    }
    .droz-wrap .hero-thumbs .slick-prev {
        left: -20px;
    }

    .droz-wrap .hero-thumbs .slick-next {
        right: -20px;
    }
    .droz-gold .droz-hero-right h1.title-plus {
        font-size: 24px;
        margin-top: 30px;
    }
    .droz-hero-right .ratings {
        margin: 5px 0 0;
        float: none;
        clear: both;
        display: block;
        text-align: left;
    }
}

@media(max-width: 767px) {
    #buywrap.fixed {
        bottom: 0;
        top: auto !important;
    }
    #buywrap-phantom {
        display: none;
    }
    .droz-hero-mobile .product-highlights .slidecontent img {
        width: 100%;
        max-width: 300px;
        margin: 0 auto;
    }
    .product-highlights .slide1 .hydrotest-img .wandgel {
        max-width: 180px;
    }
    .product-highlights-wrap h1 {
        font-size: 18px;
        font-weight: 300;
        border-bottom: 1px solid #d19a8c;
        padding-bottom: 8px;
        margin-bottom: 8px;
        text-align: center;
    }
    .product-highlights-wrap h1 .hlight {
        font-weight: bold;
    }
    .product-highlights h2 {
        font-size: 15px;
        line-height: normal;
    }
    .droz-hero-mobile .ratings {
        margin-top: 8px;
        width: auto;
        text-transform: uppercase;
        color: #000;
        font-weight: 400;
    }
    .product-cta h2 {
        margin-bottom: 8px;
        background: #333;
        padding-top: 8px;
        padding-bottom: 8px;
        color: #fff !important;
        border-bottom: none;
        font-size: 14px !important;
        letter-spacing: 0.5px;
    }
    .cta-colors-label {
        margin-bottom: 5px;
    }
    .cta-colors-mobile .cta-colors-mobile-box, .cta-colors-mobile {
        padding: 0;
    }
    .mobile-product-cta {
        padding-top: 0;
    }
    .product-highlights-wrap .slick-slide h1 {
        border-bottom: none;
        font-size: 14px;
        line-height: normal;
        margin-bottom: 20px;
    }
    #before-afters-fancy h1 {
        font-size: 24px;
    }
    .cms-box.before-afters .before-afters-inner .batitle {
        font-size: 13px;
    }
    .cms-box.before-afters .before-afters-inner p {
        font-size: 11px;
        text-align: center;
    }
    .cms-box.before-afters .before-afters-inner .results-disclaimer p {
        text-align: left;
    }
    .droz-gold .droz-hero-mobile .product-highlights .slide4 h1 {
        font-size: 14px;
        line-height: normal;
        margin-bottom: 20px;
    }
    .container.mobile-product-cta.graybg {
        background-color: #000;
        color: #fff;
    }
    .droz-hero-right .affirm-box .affirm-box-copy,
    .droz-hero-right .droz-price-wrap,
    .droz-hero-right .droz-price,
    .droz-hero-right .droz-oldprice,
    .droz-hero-right .affirm-box strong, .droz-hero-right .droz-price-wrap strong {
        color: #fff;
    }
    .droz-hero-right .btn-cart {
        background: #fff;
        color: #000;
    }
}