.droz-hero-right .buynow-heading span div {
    display: inline-block;
    color: #c03e3e;
}
.lto-w4 {
    font-family: "Lato", Helvetica, Arial;
    color: #000;
}
.topbar-w4 {
    height:12px;
    background: #000;
    width: 100%;
}
.header-w4-wrap {
    height: 85px;
    width: 100%;
    background: #333;
}
.header-w4 {
    padding-left: 30px;
    padding-right: 30px;
}
.logo-w4 {
    margin-top: 14px;
    float: left;
}
.header-w4 .top-special {
    background: #fff;
    font-family: "Lato", Helvetica, Arial;
    line-height: 85px;
    height: 85px;
    padding: 0;
    text-align: center;
    display: block;
}
.header-w4 .top-special span {
    font-size: 30px;
    font-weight: 300;
}
.header-w4 .top-available {
    margin-top: 18px;
    float: right;
}

.header-w4-wrap .container-mobile,
.lto-w4 .container-mobile {
    display: none;
}


.header-w4-wrap .hlight {
    color: #c03e3e;
}
.header-w4-wrap .hlight2,
.lto-w4 .hlight2 {
    color: #05b2d5;
}
.header-w4-wrap .hlight3 {
    color: #996699;
}

.droz-hero-right .riskfree-seal-wrap {
    text-align: center;
}

.droz-hero-right .droz-price-wrap {
    padding: 20px 15px;
}

.droz-hero-right a#multipay {
    background: #04c8e7 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    height: 45px;
    line-height: 45px;
    text-align: center;
    text-transform: uppercase;
    width: 162px;
    letter-spacing: 0.7px;
}

   .droz-hero-right a#multipay:hover {
       background: #00a9c4;
   }

.droz-gold .btn-cart  {
    background: #000 none repeat scroll 0 0;
    font-size: 14px;
    letter-spacing: 0.7px;
    font-weight: 400;
    height: 45px;
    line-height: 45px;
    width: 162px;
}

.droz-gold .droz-asseenon .btn-cart {
    width: auto;
    padding: 0 16px;
}

.droz-hero-right .affirm-box {
    font-size: 13px;
    color: #333;
    font-family: "lato", Helvetica, "Helvetica Neue", Arial, sans-serif;
    border: none;
    -webkit-border-radius: none;
    -moz-border-radius:none;
    border-radius: none;
    display: inline-block;
    padding: 0;
}

.droz-hero-right .droz-price-wrap {
    padding: 0;
    margin: 16px 0;
}

.droz-hero-right .affirm-box-copy {
    margin-top: 5px;
}

.droz-gold .cta-section {
    margin-top: 30px;
}

.droz-gold .cta-section .cta-cartbtn,
.droz-gold .cta-section .cta-cartcopy {
    display: inline-block;
    float: left;
    padding-left: 15px;
    width: 50%;
}

.droz-gold .cta-section .cta-cartcopy {
    color: #04c8e7;
    font-size: 20px;
    font-style: italic;
    font-family: "Lato", Helvetica, Arial;
    font-weight: 400;
}

.lto-w4 {
    background: #b1b1b1 url('https://cdn.jenu.com/media/landing_pages/w4/bg-lto.jpg') no-repeat center;
    background-size: auto 100%;
    min-height: 306px;
}
.lto-w4 .container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.lto-w4 .lto-text1 {
    font-size: 24px;
    font-weight: 300;
}
.lto-w4 .lto-text2 {
    font-size: 16px;
    font-weight: 300;
}
.lto-w4 .lto-btn {
    margin: 20px 0 10px 0;
}
.lto-w4 .lto-text3 {
    font-size: 14px;
}

@media(max-width:991px) {
    .header-w4 .top-special span {
        font-size: 18px;
    }

    .logo-w4 {
        width: 100%;
        height: auto;
        max-width: 106px;
    }

    .header-w4 .top-available {
        width: 100%;
        height: auto;
        margin-top: 25px;
    }
    .droz-gold .cta-section .cta-cartbtn .btn-cart {
        float: none;
    }

    .droz-gold .cta-section .cta-cartbtn, .droz-gold .cta-section .cta-cartcopy {
        width: 100%;
        margin: 8px 0;
        text-align: center;
    }
    .lto-w4 .lto-btn img {
        max-width: 310px;
        width: 100%;
    }
    .cta-section .cta-cartcopy br {
        display: none;
    }
}

@media(max-width:767px) {
    .header-w4 {
        padding: 0;
    }

    .header-w4 .container,
    .lto-w4 .container {
        display: none;
    }

    .header-w4 .container-mobile,
    .lto-w4 .container-mobile {
        display: block;
    }

    .header-w4 .col-sm-6 {
        width: 50%;
        display: inline-block;
        float: left;
    }

    .header-w4 img.top-available {
        width: 100%;
        height: auto;
        max-width: 222px;
        margin-top: 14px;
    }

    .header-w4 .top-special {
        clear: both;
        height: 50px;
        line-height: 50px;
        overflow: hidden;
        margin: 10px auto;
        width: 95%;
        float: left;
    }

    .header-w4 .top-special span {
        font-size: 18px;
    }

    .header-w4-wrap {
        height: auto;
    }
    .droz-gold .droz-price-wrap div,
    .droz-gold .affirm-box div {
        padding: 0;
    }
    .droz-gold .droz-price-wrap,
    .droz-gold .affirm-box {
        width: 50%;
        float: left;
        vertical-align: top;
        margin: 0;

    }
    .droz-hero-right a#multipay {
        font-size: 12px;
        font-weight: 400;
        height: 40px;
        line-height: 40px;
        width: 132px;
    }

    .droz-gold .btn-cart  {
        background: #000 none repeat scroll 0 0;
        font-size: 12px;
        height: 40px;
        line-height: 40px;
        width: 132px;
    }

    .droz-gold .affirm-box-copy {
        font-size: 12px;
        text-align: center;
    }
    .lto-w4 .container {
        background: #fff !important;
        padding-top: 30px;
        padding-bottom: 0;
        border-top: 1px solid #666;
    }
    .lto-w4 {
        background-image: none;
    }
    .lto-w4 .lto-text1 {
        font-size: 24px;
    }
    .lto-w4 .lto-btn {
        text-align: center;
    }
    .lto-w4 .lto-btn img {
        width: 100%;
        max-width: 310px;
    }
    .lto-w4 .lto-text3 {
        text-align: center;
        margin-bottom: 20px;
    }
    .lto-w4 .mobile-lto {
        width: 100%;
    }
}