.w4offer-featured .w4-featured-name {
    background: #dfc457 none repeat scroll 0 0;
    color: #fff;
    font-family: "Lato", Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    height: 50px;
    letter-spacing: 1px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: -70px;
    position: relative;
}

.w4offers-wrap h2 {
    display: block;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 0;
}

@media(max-width: 991px) {
    .w4offer-featured .w4-featured-name {
        font-size: 14px;
        height: 45px;
        letter-spacing: 0px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
        margin-top: -60px;
        position: relative;
    }
}