

.w4offer-featured .w4-featured-name {
    background: #dfc457 none repeat scroll 0 0;
    color: #fff;
    font-family: "Lato", Helvetica, "Helvetica Neue", Arial, sans-serif;
    font-size: 18px;
    font-weight: 300;
    height: 50px;
    letter-spacing: 1px;
    line-height: 50px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    margin-top: -70px;
    position: relative;
}

.w4offers-wrap h2 {
    display: block;
    padding-top: 30px;
    padding-bottom: 50px;
    margin: 0;
}

.droz-vidbox .lp-howcta a.ctabtn, .droz-aboutha .lp-aboutcta a.ctabtn {
    font-size: 13px;
    letter-spacing: 0.5px;
    padding: 0 30px;
}


.droz-vidcopy .lp-step {
    margin: 20px auto 0 auto;
    height: auto;
}

.droz-vidcopy .lp-step.step1 {
    background: url('/media/landing_pages/20170228/bg-step1b.jpg') no-repeat bottom right;
    background-size: auto 100%;
    border-bottom: 1px solid #ccc;
}

.droz-vidcopy .lp-step.step2 {
    background: url('/media/landing_pages/20170228/bg-step2b.jpg') no-repeat bottom right;
    background-size: auto 90%;
    border-bottom: 1px solid #ccc;
}

.droz-vidcopy .lp-step.step3 {
    background: url('/media/landing_pages/20170228/bg-step3b.jpg') no-repeat bottom right;
    background-size: auto 90%;
    border-bottom: 1px solid #ccc;
}

.droz-vidcopy .lp-stepcopy {
    width: 50%;
    padding-bottom: 10%;
}

.droz-vidcopy .lp-stepcopy h5 {
    color: #000;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
    font-size: 18px;
}

.droz-vidcopy .lp-stepcopy p {
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.5px;
}

.droz-vidbox .lp-howcta,
.droz-aboutha .lp-aboutcta {
    text-align: center;
    padding: 30px 0;
}

.droz-vidbox .lp-howcta a.ctabtn,
.droz-aboutha .lp-aboutcta a.ctabtn {
    background-color: transparent;
    border:2px solid #1992c1;
    display: inline-block;
    color: #1992c1;
    text-transform: uppercase;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 14px;
    padding: 0 80px;
    height: 55px;
    line-height: 53px;
    letter-spacing: 1px;
}

.droz-vidbox .lp-howcta a.ctabtn:hover,
.droz-aboutha .lp-aboutcta a.ctabtn:hover {
    background:#1992c1;
    color: #fff;
}

.droz-vidbox .lp-howcta .ctacopy,
.droz-aboutha .lp-aboutcta .ctacopy {
    color: #000;
    display: block;
    margin: 10px auto 0 auto;
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
    letter-spacing: 1px;
    font-style: italic;
    font-size: 18px;
}

.lpmobile-wrap .graysection {
    background: #f6ece8 none repeat scroll 0 0;
}

.droz-batra.droz-section {
    margin: 40px 0;
}

.droz-reviews h2 {
    margin-top: 40px;
}

@media(max-width: 991px) {
    .w4offer-featured .w4-featured-name {
        font-size: 14px;
        height: 45px;
        letter-spacing: 0px;
        line-height: 45px;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 40px;
        margin-top: -60px;
        position: relative;
    }
}