.droz-hero-right .affirm-box {
    border: none;
    font-size: 13px;
    padding: 0;
    margin-top: 0;
}

.droz-hero-right a#multipay {
    float: none;
    font-size: 12px;
    font-weight: normal;
    height: 40px;
    line-height: 40px;
    margin-top: 8px;
    padding: 0 10px;
    width: 140px;
    letter-spacing: 0.5px;
    background-color: #00c8e7;
}
.droz-hero-right a#multipay:hover {
    background-color: #008ba1;
}

.droz-hero-right .btn-cart  {
    width: 140px;
    font-size: 12px;
    letter-spacing: 0.5px;
    padding: 0 10px;
}

.buynow-heading span {
    color: #c03e3e;
}

.droz-hero-right .buynow-heading {
    font-size: 24px;
    background-image: url("/media/landing_pages/droz/bg-buynow-heading3.png");
}

.product-cta p.ltocopy {
    font-size: 18px;
    font-family: "Avenir Next Condensed Demi Bold",Helvetica,Arial;
    color: #c03e3e;
}

@media(max-width: 991px) {
    .droz-hero-right .new-price {
        font-size: 50px;
        line-height: 50px;
    }
    .droz-hero-right .new-price .sm-price {
        font-size: 18px;
        line-height: 40px;
    }
    .droz-hero-right .btn-cart,
    .droz-hero-right a#multipay {
        font-size: 11px;
        letter-spacing: 0;
        padding: 0 10px;
        width: 100%;
    }
}

@media(max-width: 767px) {
    .droz-hero-right a#multipay {
        float: none;
        font-size: 12px;
        font-weight: normal;
        height: 40px;
        line-height: 40px;
        margin-top: 8px;
        padding: 0 10px;
        width: 140px;
        letter-spacing: 0.5px;
    }

    .droz-hero-right .btn-cart  {
        width: 140px;
        font-size: 12px;
        letter-spacing: 0.5px;
        padding: 0 10px;
    }

    .product-cta p.ltocopy {
        font-size: 24px !important;
    }
}