.droz-gold {
    display: block;
}

.lpmobile-wrap {
    display: none;
}

@media(max-width:767px) {

    .droz-gold {
        display: none;
    }

    .lpmobile-wrap {
        display: block;
        color: #000;
    }

    .lpmobile-wrap h1 .hlight {
        color:#b37c6e;
    }

    .lpmobile-header {
        text-align: center;
        padding: 24px 0;
        background: #f7f7f7;
    }

    .lpmobile-header .row {
        text-align: center;
    }

    .lpmobile-header h1 {
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 24px;
        font-weight: 400;
        margin-bottom: 5px;
    }

    .lpmobile-header h4 {
        font-size: 14px;
        font-weight: 300;
        text-transform: uppercase;
    }

    .lpmobile-hero {

    }

    .lpmobile-hero .womanbg {
         background: url('/media/landing_pages/20170228/lpmobile-hero-bg1.jpg') no-repeat top center;
         background-size: cover
     }

    .lpmobile-hero .productbg {
        background: url('/media/landing_pages/20170228/lpmobile-hero-bg2.jpg') no-repeat top center;
        background-size: cover;
    }

    .lpmobile-hero .ratings {
        width: 110px;
        height: auto;
    }

    .lpmobile-hero .womanbg .rating-box {
        width: 110px;
    }

    .lpmobile-hero .womanbg .rating-box .rating {
        background: rgba(0, 0, 0, 0) url("/media/landing_pages/20170228/bg-stars.png") repeat-x scroll 0 100% / 22px auto;
        height: 21px;
    }

    .lpmobile-hero .womanbg .ratings .rating-box {
        background: url("/media/landing_pages/20170228/bg-stars.png");
        height: 21px;
        background-size: 22px auto;
    }

    .lpmobile-hero .womanbg .ratings .amount a {
        color: #000;
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        font-weight: 300;
        text-transform: uppercase;
        letter-spacing: 0.6px;
    }

    .lpmobile-hero .womanbg .ratings .amount {
        display: block;
        width: 110px;
        text-align: center;
    }

    .lpmobile-hero .womanbg .slide1-copy,
    .lpmobile-hero .productbg .slide2-copy,
    .lpmobile-hero .womanbg .slide3-copy,
    .lpmobile-hero .productbg .slide4-copy {
        text-align: center;
        float: right;
        width: 40%;
        padding: 60px 30px 0 0;
    }

    .lpmobile-hero.slick-slider {
        margin-bottom: 0;
    }

    .lpmobile-hero .productbg .slide2-copy {
        width: 45%;
        padding:100px 30px 0 0;
    }

    .lpmobile-hero .womanbg .slidecopy {
        color: #000;
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 16px;
        line-height: normal;
        margin: 40px 0;
    }

    .lpmobile-hero .womanbg .slide3-copy .slidecopy {
        font-size: 16px;
    }

    .lpmobile-hero .productbg .slidecopy {
        color: #000;
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 15px;
        line-height: normal;
        margin: 20px 0;
        font-weight: 300;
    }

    .lpmobile-hero .womanbg .mbseal {
        max-width: 120px;
        height: auto;
        width: 100%;
        display: block;
        margin: 30px auto 0 auto;
    }

    .lpmobile-hero .slick-slide {
        padding: 0;
        height: 494px;
    }

    .lpmobile-cta {
    }

    .lpmobile-cta .ctabar {
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        background: #000;
        height: 45px;
        text-align: center;
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 300;
        line-height: 45px;
        letter-spacing: 0.5px;
    }

    .lpmobile-cta .ctabtn-wrap,
    .lpmobile-how .lpmobile-howcta,
    .lpmobile-batra .lpmobile-batracta {
        text-align: center;
        padding: 30px 0;
    }

    .lpmobile-cta .ctabtn-wrap a.ctabtn {
        background-color: #1992c1;
        display: inline-block;
        color: #fff;
        text-transform: uppercase;
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        text-align: center;
        font-size: 14px;
        padding: 0 20px;
        height: 55px;
        line-height: 55px;
        font-weight: 400;
        letter-spacing: 1px;
    }

    .lpmobile-cta .ctabtn-wrap .ctacopy {
        color: #000;
        display: block;
        margin: 10px auto 0 auto;
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        letter-spacing: 1px;
    }

    .lpmobile-how .lpmobile-howcta a.ctabtn,
    .lpmobile-batra .lpmobile-batracta a.ctabtn {
        background-color: #fff;
        border:2px solid #1992c1;
        display: inline-block;
        color: #1992c1;
        text-transform: uppercase;
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-weight: bold;
        text-align: center;
        font-size: 14px;
        padding: 0 80px;
        height: 55px;
        line-height: 53px;
        letter-spacing: 1px;
    }

    .lpmobile-how .lpmobile-howcta a.ctabtn:hover,
    .lpmobile-batra .lpmobile-batracta a.ctabtn:hover {
        background:#1992c1;
        color: #fff;
    }

    .lpmobile-how .lpmobile-howcta .ctacopy,
    .lpmobile-batra .lpmobile-batracta .ctacopy {
        color: #000;
        display: block;
        margin: 10px auto 0 auto;
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        letter-spacing: 1px;
        font-style: italic;
        font-size: 18px;
    }

    .lpmobile-how {
        background: #f6ece8;
    }

    .lpmobile-how h2 {
        font-size: 24px;
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #000;
        font-weight: 300;
        text-transform: uppercase;
        border-bottom: 1px solid #000;
        line-height: normal;
        padding-bottom: 5px;
        display: block;
        margin: 30px 0;
    }

    .lpmobile-how .videoWrapper {
        position: relative;
        padding-bottom: 56.25%; /* 16:9 */
        padding-top: 25px;
        height: 0;
    }
    .lpmobile-how .videoWrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .lpmobile-how .lpmobile-step {
        margin: 30px auto 0 auto;
        height: auto;
    }

    .lpmobile-how .lpmobile-step.step1 {
        background: url('/media/landing_pages/20170228/bg-step1.jpg') no-repeat bottom right;
        background-size: auto 100%;
    }

    .lpmobile-how .lpmobile-step.step2 {
        background: url('/media/landing_pages/20170228/bg-step2.jpg') no-repeat bottom right;
        background-size: auto 100%;
    }

    .lpmobile-how .lpmobile-step.step3 {
        background: url('/media/landing_pages/20170228/bg-step3.jpg') no-repeat bottom right;
        background-size: auto 100%;
    }

    .lpmobile-how .lpmobile-stepcopy {
        width: 50%;
        padding-top: 10%;
        padding-bottom: 25%;
    }

    .lpmobile-how .lpmobile-stepcopy h5 {
        color: #000;
        text-transform: uppercase;
        font-weight: 600;
        margin-bottom: 10px;
        letter-spacing: 0.8px;
        font-size: 22px;
    }

    .lpmobile-how .lpmobile-stepcopy p {
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.8px;
    }

    .lpmobile-results,
    .lpmobile-data{
        overflow: hidden;
    }

    .lpmobile-results .reshead-wrap {
        background: #e9b9b0;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.54);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.54);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.54);
        text-align: center;
        overflow: hidden;
        clear: both;
    }

    .lpmobile-data .datahead-wrap {
        background: #f7f7f7;
        -webkit-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.54);
        -moz-box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.54);
        box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.54);
        text-align: center;
        overflow: hidden;
        clear: both;
    }

    .lpmobile-results .reshead-wrap h2 {
        border-bottom: 5px dashed #ddada5;
        padding-bottom: 18px;
        margin-bottom: 10px;
        margin-top: 20px;
        display: block;
        color: #fff;
        font-size: 24px;
        font-weight: 400;
    }

    .lpmobile-data .datahead-wrap h2 {
        border-bottom: 5px dashed #efefef;
        padding-bottom: 18px;
        margin-bottom: 10px;
        margin-top: 20px;
        display: block;
        color: #000;
        font-size: 24px;
        font-weight: 400;
    }

    ul.restabs,
    ul.datatabs {
        margin: 0px;
        padding: 0px;
        list-style: none;
    }
    ul.restabs li,
    ul.datatabs li {
        background: none;
        color: #fff;
        text-transform: uppercase;
        display: inline-block;
        padding: 10px 15px;
        text-align: center;
        width: 50%;
        float: left;
        cursor: pointer;
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        letter-spacing: 0.8px;
        font-size: 13px;
    }

    ul.datatabs li {
        color: #333;
        padding: 10px 0;
        letter-spacing: 0.5px;
    }

    ul.restabs li.current {
        border-bottom: 5px solid #fff;
    }

    ul.datatabs li.current {
        border-bottom: 5px solid #a0a0a0;
    }

    .restab-content,
    .datatab-content {
        display: none;
        clear: both;
        margin-top: 10px;
    }

    .restab-content.current,
    .datatab-content.current {
        display: inherit;
    }

    .ba-slick-set1 img,
    .ba-slick-set2 img {
        width: 100%;
    }

    .lpmobile-data .clinical-list {
         border-bottom: 1px solid #ccc;
         padding-bottom: 16px;
        margin-top: 10px;
        overflow: hidden;
        clear: both;
        width: 100%;
     }

    .lpmobile-data .clinical-list:first-child {
        margin-top: 20px;
    }

    .lpmobile-data .clinical-list-left {
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 56px;
        font-weight: 400;
        text-align: center;
        width: 35%;
        float: left;
    }

    .lpmobile-data .clinical-list-right {
        width: 65%;
        float: left;
        padding: 0 10px;
        margin-top: 20px;
    }

    .lpmobile-data .clinical-independent {
        font-size: 10px;
        font-style: italic;
        line-height: normal;
        display: block;
        margin: 20px auto;
    }

    .clinical-75 {
        clear: both;
        background: url('/media/landing_pages/20170228/bg-absorption.jpg') no-repeat right top;
        background-size: 50% auto;
        padding: 20px 0 20px 15px;
    }

    .clinical-75-left {
        color: #000;
        font-family: "lato",Helvetica,"Helvetica Neue",Arial,sans-serif;
        font-size: 13px;
        height: 50px;
        line-height: 20px;
        text-transform: uppercase;
        display: inline-block;
        float: left;
        text-align: center;
        letter-spacing: 0.5px;

    }

    .clinical-75-right {
        float: left;
        margin-left: 6px;
    }

    .clinical-75-right sup {
        font-size: 50%;
        vertical-align: top;
    }

    .lpmobile-data .bottom2 {
        font-size: 10px;
        line-height: normal;
        display: block;
        margin-bottom: 20px;
    }

    .lpmobile-data .lpmobile-data-vid {
        background: #f7f7f7;
        padding: 30px 0;
        margin: 20px -15px;
        text-align: center;
    }

    .lpmobile-data .lpmobile-data-vid .col-sm-6 {
        width: 50%;
        text-align: center;
        float: left;
    }

    .lpmobile-data .lpmobile-data-vid a {
        overflow: hidden;
    }

    .lpmobile-data .lpmobile-data-vid img {
        max-width: 230px;
        width: 100%;
        height: auto;
    }

    .lpmobile-data .lpmobile-data-vid p {
        font-size: 11px;
        font-style: italic;
        line-height: normal;
        margin-top: 5px;
    }

    .lpmobile-data .user-logos {
        margin: 30px auto;
    }

    .lpmobile-data img.img-user-logos,
    .lpmobile-data img.img-user-graph {
        width: 100%;
    }

    .lpmobile-data .user-graph {
        margin-bottom: 10px;
    }

    .lpmobile-data .user-graph p {
        text-transform: uppercase;
        text-align: center;
        font-family: "lato",Helvetica,"Helvetica Neue",Arial,sans-serif;
        font-size: 13px;
        font-weight: 400;
        letter-spacing: 0.8px;
    }

    .lpmobile-batra .container {
        border-bottom: 1px solid #ccc;
    }

    .lpmobile-batra h2 {
        font-size: 24px;
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        color: #000;
        font-weight: 300;
        text-transform: uppercase;
        border-bottom: 1px solid #000;
        line-height: normal;
        padding-bottom: 5px;
        display: block;
        margin: 30px 0;
    }

    .lpmobile-batra .col-sm-7 {
        width: 60%;
        float: left;
        padding-left: 0;
        padding-right: 0;
    }

    .lpmobile-batra .col-sm-5 {
        width: 40%;
        float: left;
    }

    .lpmobile-batra .batra-right {
        background: url('/media/landing_pages/droz/drbatra.jpg') no-repeat top left;
        padding-left: 40%;
        background-size: 50% auto;
        position: relative;
    }

    .lpmobile-batra .img-batra {
        width: 100%;
    }

    .lpmobile-batra p {
        font-size: 13px;
        line-height: 20px;
        color: #000;
    }

    .lpmobile-batra p.batraquote {
        font-style: italic;
        padding-left: 8px;
        margin-top: 10px;
    }

    .lpmobile-batra p.batraquote:before {
        content:'\f10d';
        font-family: 'FontAwesome';
        color: #444;
        font-size: 24px;
        margin-left: -30px;
        margin-top: -5px;
        position: static;
        float: left;
    }

    .lpmobile-batra p.batrainfo {
        font-size: 12px;
        text-align: right;
        margin: 20px 0;
        font-style: italic;
        line-height: 18px;
    }

    .lpmobile-batra a.batra-watchvideo {
        font-size: 18px;
        color: #000;
        text-decoration: none;
        font-weight: 400;
        font-family: "lato", Helvetica, "Helvetica Neue", Arial, sans-serif;
        height: 40px;
        line-height: 40px;
        text-align: center;
        vertical-align: top;
        text-transform: uppercase;
        display: inline-block;
    }

    .lpmobile-batra a.batra-watchvideo .fa {
        font-size: 40px;
        margin: 0 5px;
        vertical-align: top;
    }

    .lpmobile-batra .batra-watch-wrap {
        text-align: center;
        margin-top: 20px;
        padding-bottom: 20px;
    }

    .lpmobile-batra .lpmobile-batracta a.ctabtn {
        padding: 0 40px;
    }

    .product-view .reviews-summary-wrap .rating-box {
        background-size: 30px auto;
        display: inline-block;

        height: 27px;
        line-height: 0;
        margin: 0;
        overflow: hidden;
        text-indent: -9999em;
        width: 150px;
    }

    .product-view .reviews-summary-wrap .rating-box .rating {
        background-size: 30px auto;
        height: 27px;
    }

    .product-view .reviews-summary-wrap .amount {
        font-size: 24px;
    }

    .product-view .reviews-summary-wrap {
        margin-top: 10px;
    }

}

@media(max-width: 480px) {
    .lpmobile-hero .slick-slide {
        height: 247px;
    }
    .lpmobile-hero .ratings {
        width: 90px;
    }

    .lpmobile-hero .womanbg .rating-box {
        width: 90px;
    }

    .lpmobile-hero .womanbg .rating-box .rating {
        background: rgba(0, 0, 0, 0) url("/media/landing_pages/20170228/bg-stars.png") repeat-x scroll 0 100% / 18px auto;
        height: 17px;
    }

    .lpmobile-hero .womanbg .ratings .rating-box {
        height: 17px;
        background-size: 18px auto;
    }

    .lpmobile-hero .womanbg .ratings .amount a {
        font-size: 13px;
    }

    .lpmobile-hero .womanbg .ratings .amount {
        width: 90px;
    }

    .lpmobile-hero .womanbg .slide1-copy,
    .lpmobile-hero .productbg .slide2-copy,
    .lpmobile-hero .womanbg .slide3-copy,
    .lpmobile-hero .productbg .slide4-copy {
        width: 40%;
        padding: 20px 10px 0 0;
    }

    .lpmobile-hero.slick-slider {
        margin-bottom: 0;
    }

    .lpmobile-hero .productbg .slide2-copy,
    .lpmobile-hero .productbg .slide4-copy {
        width: 45%;
        padding:50px 30px 0 0;
    }

    .lpmobile-hero .womanbg .slide3-copy {
        padding:50px 20px 0 0;
    }

    .lpmobile-hero .womanbg .slidecopy {
        color: #000;
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 11px;
        line-height: normal;
        margin: 18px 0;
    }

    .lpmobile-hero .womanbg .slide3-copy .slidecopy {
        font-size: 13px;
    }

    .lpmobile-hero .productbg .slidecopy {
        color: #000;
        font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
        font-size: 13px;
        line-height: normal;
        margin: 20px 0;
        font-weight: 300;
    }

    .lpmobile-hero .womanbg .mbseal {
        max-width: 70px;
        margin: 14px auto;
    }

    .lpmobile-how .lpmobile-stepcopy {
        width: 50%;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .lpmobile-how .lpmobile-stepcopy h5 {
        letter-spacing: 0.5px;
        font-size: 16px;
    }

    .lpmobile-how .lpmobile-stepcopy p {
        font-size: 12px;
        line-height: normal;
        letter-spacing: 0.5px;
    }

    ul.restabs li {
        font-size: 11px;
    }

    ul.datatabs li {
        font-size: 10px;
    }

    .lpmobile-results .reshead-wrap h2,
    .lpmobile-data .datahead-wrap h2 {
        padding-bottom: 20px;
        margin-bottom: 20px;
        margin-top: 30px;
        font-size: 20px;
    }

    .lpmobile-data .clinical-list {
        padding-bottom: 10px;
        margin-top: 10px;
        overflow: hidden;
    }

    .lpmobile-data .clinical-list-left {
        font-size: 38px;
    }

    .lpmobile-data .clinical-list-right {
        width: 65%;
        margin-top: 10px;
        font-size: 12px;
        line-height: normal;
    }

    .clinical-75 {
        clear: both;
        background: url('/media/landing_pages/20170228/bg-absorption.jpg') no-repeat right center;
        background-size: 40% auto;
        padding: 10px 0 10px 15px;
    }

    .clinical-75-left {
        font-size: 12px;
        line-height: 18px;
        height: 50px;
        margin-top: 3px;
    }

    .clinical-75-right {
        float: left;
        margin-left: 6px;
    }

    .lpmobile-how h2,
    .lpmobile-batra h2 {
        font-size: 18px;
        margin-top: 20px;
    }

    .lpmobile-batra .batra-right {
        background: url('/media/landing_pages/droz/drbatra.jpg') no-repeat top left;
        padding-left: 30%;
        background-size: 40% auto;
        position: relative;
    }

    .lpmobile-batra p {
        font-size: 11px;
        line-height: normal;
        color: #000;
    }

    .lpmobile-batra p.batraquote {
        font-style: italic;
        padding-left: 5px;
        margin-top: 10px;
    }

    .lpmobile-batra p.batraquote:before {
        content:'\f10d';
        font-family: 'FontAwesome';
        color: #444;
        font-size: 18px;
        margin-left: -25px;
        margin-top: -5px;
        position: static;
    }

    .lpmobile-batra p.batrainfo {
        font-size: 9px;
        text-align: right;
        margin: 10px 0;
        font-style: italic;
        line-height: normal;
    }

    .lpmobile-batra a.batra-watchvideo {
        font-size: 14px;
        color: #000;
        text-decoration: none;
        font-weight: 400;
        font-family: "lato", Helvetica, "Helvetica Neue", Arial, sans-serif;
        height: 20px;
        line-height: 20px;
        text-align: center;
        vertical-align: top;
        text-transform: uppercase;
        display: inline-block;
    }

    .lpmobile-batra a.batra-watchvideo .fa {
        font-size: 20px;
        margin: 0 3px;
        vertical-align: top;
    }

    .lpmobile-batra .batra-watch-wrap {
        text-align: center;
        margin-top: 15px;
        padding-bottom: 20px;
    }

}
