.wrapper-w4 {
    font-family: "Lato", Helvetica, Arial;
    color: #000;
}
.wrapper-w4 sup {
    font-size: 70%;
    font-weight: 300;
    color: #666;
}
.wrapper-w4 .container {
    max-width: 1230px;
}
.wrapper-w4 .container-mobile {
    display: none;
}
.wrapper-w4 .hlight {
    color: #fd275f;
}
.wrapper-w4 .hlight2 {
    color: #05b2d5;
}
.wrapper-w4 .hlight3 {
    color: #996699;
}
.topbar-w4 {
    height:12px;
    background: #000;
    width: 100%;
}
.header-w4-wrap {
    height: 85px;
    width: 100%;
    background: #333;
}
.header-w4 {
    padding-left: 30px;
    padding-right: 30px;
}
.logo-w4 {
    margin-top: 14px;
    float: left;
}
.header-w4 .top-special {
    background: #fff;
    font-family: "Lato", Helvetica, Arial;
    line-height: 85px;
    height: 85px;
    padding: 0;
    text-align: center;
    display: block;
}
.header-w4 .top-special span {
    font-size: 30px;
    font-weight: 300;
}
.header-w4 .top-available {
    margin-top: 18px;
    float: right;
}
.hero-w4 {
    background: url('https://cdn.jenu.com/media/landing_pages/w4/bg-hero.jpg') no-repeat center;
    height: 562px;
}

.hero-w4 h1 {
    color: #000;
    font-weight: 300;
    font-size: 33px;
    margin-top: 36px;
    line-height: 40px;
}
.hero-w4 .hero-copy1 {
    font-size: 13px;
    text-transform: uppercase;
    color: #000;
}
.hero-w4 .worksgreatfor img {
    width: 100%;
    height: auto;
    margin-top: 30px;
}
.hero-w4 .worksgreatfor-copy {
    margin-top: 30px;
}
.hero-w4 .worksgreatfor-copy .btn-w4 {
    margin: 10px 0;
    display: block;
}
.hero-w4 .asseenon {
    text-align: right;
}
.hero-w4 .asseenon-copy {
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 300;
    border-left: 1px solid #000;
}
.raving-w4 img {
    display: block;
    margin: 0 auto;
    width: 100%;
    height: auto;
}
.featured-w4 .container {
    background: #f1eae7;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}
.wrapper-w4 h2 {
    font-size: 20px;
    margin-bottom: 60px;
}
.featured-w4 .row {
    text-align: center;
}
.featured-w4 .droz-copy {
    text-align: left;
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 20px;
}
.featured-w4 .droz-discount {
    font-size: 24px;
    line-height: 56px;
}
.featured-w4 .droz-desc {
    margin-bottom: 20px;
}
.steps-w4 .row {
    text-align: center;
}
.steps-w4 .container {
    text-align: center;
    padding-top: 50px;
    background: #f6f7f8 url( 'https://cdn.jenu.com/media/landing_pages/w4/bg-steps.jpg') no-repeat bottom left;
}
.steps-w4 .step-title {
    font-size: 22px;
    margin-bottom: 5px;
    text-transform: uppercase;
    font-weight: bold;
    color: #05b2d5;
    display: block;
}
.steps-w4 .step-copy {
    font-size: 14px;
}
.steps-w4 .step-w4 {
    min-height: 360px;
}
.steps-w4 .step1-w4 {
    background: url('https://cdn.jenu.com/media/landing_pages/w4/img-step1.jpg') no-repeat bottom center;
}
.steps-w4 .step2-w4 {
    background: url('https://cdn.jenu.com/media/landing_pages/w4/img-step2.jpg') no-repeat bottom center;
}
.steps-w4 .step3-w4 {
    background: url('https://cdn.jenu.com/media/landing_pages/w4/img-step3.jpg') no-repeat bottom center;
}
.clinical-w4 .row {
    text-align: center;
}
.clinical-w4 {
    text-align: center;
    font-weight: 300;
    background: #05b2d5;
}
.clinical-w4 .container {
    background: #05b2d5 url('https://cdn.jenu.com/media/landing_pages/w4/bg-clinical.jpg') no-repeat bottom right;
    padding-top: 50px;
    padding-bottom: 50px;
}
.clinical-w4 h1 {
    margin-bottom: 50px;
    text-align: center;
}
.clinical-w4 .clinicalbox {
    margin-bottom: 40px;
}
.clinical-w4 .percent {
    width: 40%;
    color:#fff;
    font-size: 70px;
    line-height: 70px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.clinical-w4 .percent-copy {
    width: 55%;
    color:#fff;
    font-size: 18px;
    display: inline-block;
    text-align: left;
    vertical-align: top;
}
.clinical-w4 .clinical-discount {
    color: #fff;
    font-size: 24px;
    line-height: 28px;
}
.clinical-w4 .clinical-btn-set {
    margin-bottom: 100px;
}
.ba-w4 h1 {
    margin-top: 50px;
}
.ba-w4 .container {
    text-align: left;
    padding-left: 50px;
    padding-right: 50px;
    background: #f1eae7 url('https://cdn.jenu.com/media/landing_pages/w4/bg-clinical-bottom.jpg') no-repeat top right;
}
.ba-w4 .babox {
    text-align: center;
    font-size: 13px;
    margin-bottom: 30px;
}
.ba-w4 .babox p strong {
    color: #996699;
}
.ba-w4 .batitle-w4 {
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
    font-weight: 300;
}
.ba-w4 .ba-disclaimer {
    font-size: 14px;
    font-style: italic;
    text-align: center;
    margin-bottom: 10px;
    color:#999;
    font-weight: 300;
}
.batra-w4 .container {
    padding-top: 50px;
    background: #f8f0ee;
    -webkit-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.26);
    -moz-box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.26);
    box-shadow: 0px 0px 5px 2px rgba(0,0,0,0.26);
}
.batra-w4 h1 {
    margin-bottom: 50px;
    text-align: center;
}
.batra-w4 .batra-copy-left {
    font-size: 16px;
    margin-top: 30px;
}
.batra-w4 .batra-copy-left-mobile {
    display: none;
}
.batra-w4 .batra-watchvideo-w4 {
    display: block;
    margin: 20px auto;
    text-align: center;
}
.batra-w4 .batra-copy-right .batra-copy1 {
    font-size: 22px;
    font-style: italic;
    font-weight: 300;
    margin-top: 30px;
}
.batra-w4 .batra-copy-right .batra-copy1:before {
    font-family: "Arial" , "Helvetica Neue", Helvetica, sans-serif;
    font-size: 200px;
    content: '“';
    color: #333;
    position: absolute;
    margin-left: -100px;
    margin-top: -20px;
    top: 0;
    line-height: normal;
}
.batra-w4 .batra-copy-right .batra-copy2 {
    text-align: right;
    font-size: 15px;
    margin-top: 30px;
    font-style: italic;
}
.lto-w4 {
    background: #b1b1b1 url('https://cdn.jenu.com/media/landing_pages/w4/bg-lto.jpg') no-repeat center;
    background-size: auto 100%;
    min-height: 306px;
}
.lto-w4 .container {
    padding-top: 50px;
    padding-bottom: 50px;
}
.lto-w4 .lto-text1 {
    font-size: 30px;
    font-weight: 300;
}
.lto-w4 .lto-text2 {
    font-size: 17px;
    font-weight: 300;
}
.lto-w4 .lto-btn {
    margin: 20px 0 10px 0;
}
.lto-w4 .lto-text3 {
    font-size: 15px;
}
.how-w4 .container {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
}
.how-w4 h1 {
    margin-bottom: 50px;
    text-align: center;
}
.how-w4 .how-w4-copy {
    font-size: 17px;
    text-align: left;
}
.use-w4 {
    background: #05b2d5;
}
.use-w4 .container {
    background: url('https://cdn.jenu.com/media/landing_pages/w4/bg-use.png') no-repeat top center;
    padding-top: 60px;
    padding-bottom: 60px;
    text-align: center;
}
.use-w4 .row {
    text-align: center;
}
.use-w4 h2 {
    color: #fff;
    margin-bottom: 50px;
    font-size: 27px;
}
.use-w4 .use-btn-set {
    display: block;
    text-align: center;
    margin-top: 40px;
}
.use-w4 .use-txt1 {
    font-size: 25px;
    font-weight: 300;
    display: block;
    color: #fff;
    margin-bottom: 5px;
}
.footer-w4  {
    padding-top: 30px;
    padding-bottom: 50px;
    border-bottom: 10px solid #000;
    text-align: center;
    color: #ccc;
    font-size: 12px;
}
.footer-w4 p {
    margin: 10px 0;
}
@media(max-width:991px) {
    .header-w4 .top-special span {
        font-size: 18px;
    }
    .logo-w4 {
        width: 100%;
        height: auto;
        max-width: 106px;
    }
    .header-w4 .top-available {
        width: 100%;
        height: auto;
        margin-top: 25px;
    }
    .hero-w4 h1 {
        font-size: 28px;
        line-height: normal;
    }
    .hero-w4 .btn-w4 img {
        max-width: 293px;
        width: 100%;
        height: auto;
    }
    .hero-w4 .payaslowas {
        max-width: 293px;
        width: 100%;
        height: auto;
        margin-bottom: 20px;
    }
    .hero-w4 img {
        width: 100%;
        height: auto;
    }
    .hero-w4 .asseenon-copy {
        font-size: 18px;
    }
    .featured-w4 img {
        width: 100%;
        height: auto;
    }
    .wrapper-w4 h1 {
        font-size: 24px;
    }
    .wrapper-w4 h2 {
        font-size: 18px;
    }
    .featured-w4 .droz-copy {
        font-size: 16px;
    }
    .featured-w4 .droz-btn,
    .featured-w4 .droz-discount {
        width: 100%;
    }
    .featured-w4 .droz-btn img {
        width: auto;
    }
    .steps-w4 .container {
        background-image:none;
    }
    .steps-w4 .step1-w4 {
        margin-left: 0;
    }
    .steps-w4 .step-w4 {
        width: 33.33%;
    }
    .clinical-w4 .percent {
        font-size: 48px;
        line-height: 48px;
    }
    .clinical-w4 .percent-copy {
        font-size: 15px;
    }
    .clinical-w4 .clinical-discount {
        width: 100%;
        margin-top: 5px;
    }
    .ba-w4 img {
        width: 100%;
        height: auto;
    }
    .ba-w4 .babox {
        font-size: 12px;
        margin-bottom: 20px;
    }
    .ba-w4 .ba-disclaimer {
        font-size: 12px;
        line-height: normal;
    }
    .batra-w4 .batra-copy-left {
        font-size: 12px;
        margin-top: 0;
        padding-right: 0;
    }
    .batra-w4 .batra-copy-right .batra-copy1 {
        font-size: 14px;
        margin-top: 0;
    }
    .batra-w4 .batra-copy-right .batra-copy1::before {
        font-size: 130px;
        margin-left: -60px;
        margin-top: -40px;
    }
    .batra-w4 .batra-img-w4 img {
        width: 90%;
        height: auto;
    }
    .batra-watchvideo-w4 img {
        width: 90%;
        height: auto;
    }
    .batra-w4 .batra-copy-right .batra-copy2 {
        margin-top: 10px;
        font-size: 14px;
    }
    .how-w4 img, .use-w4 img {
        width: 100%;
        height: auto;
    }
    .how-w4 .how-w4-copy {
        font-size: 14px;
    }
    .use-w4 .use-btn-set img {
        width: auto;
    }
}
@media(max-width:767px) {
    .header-w4 {
        padding: 0;
    }
    .header-w4 .container,
    .hero-w4 .container,
    .raving-w4 .container,
    .lto-w4 .container,
    .use-w4 .container {
        display: none;
    }
    .header-w4 .container-mobile,
    .hero-w4 .container-mobile,
    .raving-w4 .container-mobile,
    .lto-w4 .container-mobile,
    .use-w4 .container-mobile {
        display: block;
    }
    .header-w4 .col-sm-6 {
        width: 50%;
        display: inline-block;
        float: left;
    }
    .header-w4 img.top-available {
        width: 100%;
        height: auto;
        max-width: 222px;
        margin-top: 14px;
    }

    .header-w4 .top-special {
        clear: both;
        height: 50px;
        line-height: 50px;
        overflow: hidden;
        margin: 10px auto;
        width: 95%;
        float: left;
    }
    .header-w4 .top-special span {
        font-size: 18px;
    }
    .header-w4-wrap {
        height: auto;
    }
    .hero-w4 {
        background-image: none;
        height: auto;
    }
    .hero-w4 h1 {
        text-align: center;
        margin: 16px 0;
    }
    .hero-w4 .asseenon-copy {
        text-align: center;
        margin-top: 16px;
    }
    .hero-w4 .worksgreatfor-copy {
        text-align: center;
    }
    .hero-w4 .worksgreatfor-copy .hero-copy1 {
        text-align: center;
    }
    .featured-w4 .container {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    .wrapper-w4 h2 {
        margin-bottom: 30px;
    }
    .featured-w4 .droz-desc {
        margin-top: 20px;
    }
    .featured-w4 .droz-btn, .featured-w4 .droz-discount {
        text-align: center;
    }
    .steps-w4 .step-w4 {
        padding-left: 180px;
        padding-top: 30px;
        margin-top: 10px;
        width: 100%;
        background-position: left top;
        min-height: 200px;
        border-bottom: 1px solid #05b2d5;
    }
    .steps-w4 .step-w4 br {
        display: none;
    }
    .clinical-w4 .clinicalbox {
        margin-bottom: 20px;
    }
    .clinical-w4 .percent {
        font-size: 46px;
        line-height: 46px;
        padding-right: 10px;
        text-align: right;
    }
    .clinical-w4 .container {
        padding-top: 30px;
        padding-bottom: 30px;
        background: url('/media/landing_pages/w4/mobile-bg-results.jpg') no-repeat top right;
    }
    .clinical-w4 .clinical-btn-set br {
        display: none;
    }
    .clinical-w4 .clinical-btn-set {
        margin-bottom: 0;
        text-align: center;
    }
    .clinical-w4 .clinical-btn-set img {
        width: 100%;
        max-width: 326px;
        height: auto;
    }
    .ba-w4 .row {
        text-align: center;
    }
    .ba-w4 .container {
        background-image: none;
        padding-left: 15px;
        padding-right: 15px;
        text-align: center;
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .ba-w4 h1 {
        margin-top: 0;
    }
    .batra-w4 h1 {
        margin-bottom: 20px;
    }
    .batra-w4 .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .batra-w4 .batra-title-desktop,
    .batra-w4 .batra-copy-left {
        display: none;
    }
    .batra-w4 .batra-copy-left-mobile {
        display: block;
        font-size: 13px;
    }
    .batra-w4 .mobile-batra {
        float: right;
    }
    .batra-w4 .batra-watchvideo-w4 img {
        max-width: 237px;
    }
    .batra-w4 .batra-img-w4 {
        display: none;
    }
    .batra-w4 .batra-copy-right .batra-copy1::before {
        margin-left: -50px;
    }
    .batra-w4 .batra-copy-right .batra-copy1 {
        padding-left: 30px;
    }
    .lto-w4 .container {
        background: #fff;
        padding-top: 30px;
        padding-bottom: 0;
    }
    .lto-w4 {
        background-image: none;
    }
    .lto-w4 .lto-text1 {
        font-size: 24px;
    }
    .lto-w4 .lto-btn {
        text-align: center;
    }
    .lto-w4 .lto-btn img {
        width: 100%;
        max-width: 310px;
    }
    .lto-w4 .lto-text3 {
        text-align: center;
        margin-bottom: 20px;
    }
    .lto-w4 .mobile-lto {
        width: 100%;
    }
    .how-w4 .container {
        padding-top: 30px;
        padding-bottom: 30px;
    }
    .how-w4 .how-w4-copy {
        margin-top: 20px;
    }
    .use-w4 .mobile-use {
        width: 100%;
    }
}