<?xml version="1.0" encoding="UTF-8"?>
<!-- 
/**
* Magedelight
* Copyright (C) 2014 Magedelight <info@magedelight.com>
*
* NOTICE OF LICENSE
*
* This program is free software: you can redistribute it and/or modify
* it under the terms of the GNU General Public License as published by
* the Free Software Foundation, either version 3 of the License, or
* (at your option) any later version.
*
* This program is distributed in the hope that it will be useful,
* but WITHOUT ANY WARRANTY; without even the implied warranty of
* MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE. See the
* GNU General Public License for more details.
*
* You should have received a copy of the GNU General Public License
* along with this program. If not, see http://opensource.org/licenses/gpl-3.0.html.
*
* @category MD
* @package MD_Partialpayment
* @copyright Copyright (c) 2014 Mage Delight (http://www.magedelight.com/)
* @license http://opensource.org/licenses/gpl-3.0.html GNU General Public License,version 3 (GPL-3.0)
* @author Magedelight <info@magedelight.com>
*/
-->
<config>
    <modules>
        <MD_Partialpayment>
            <version>1.0.3</version>
        </MD_Partialpayment>
    </modules>
    <frontend>
        <layout>
            <updates>
                <md_partialpayment>
                    <file>md_partialpayment.xml</file>
                </md_partialpayment>
            </updates>
        </layout>
        <translate>
            <modules>
                <MD_Partialpayment>
                    <files>
                        <default>MD_Partialpayment.csv</default>
                    </files>
                </MD_Partialpayment>
            </modules>
        </translate>
        <routers>
            <md_partialpayment>
                <use>standard</use>
                <args>
                    <module>MD_Partialpayment</module>
                    <frontName>md_partialpayment</frontName>
                </args>
            </md_partialpayment>
        </routers>
        <events>
            <sales_quote_item_set_product>
                <observers>
                    <set_partialpayment_options>
                        <class>md_partialpayment/observer</class>
                        <method>setPartialpaymentOptions</method>
                    </set_partialpayment_options>
                </observers>
            </sales_quote_item_set_product>
        </events>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <md_partialpayment>
                    <file>md_partialpayment.xml</file>
                </md_partialpayment>
            </updates>
        </layout>
        <translate>
            <modules>
                <MD_Partialpayment>
                    <files>
                        <default>MD_Partialpayment.csv</default>
                    </files>
                </MD_Partialpayment>
            </modules>
        </translate>
        <events>
            <core_block_abstract_prepare_layout_after>
                <observers>
                    <add_partialpayment_tab>
                        <type>singleton</type>
                        <class>md_partialpayment/observer</class>
                        <method>addPartialpaymentTab</method>
                    </add_partialpayment_tab>
                </observers>
            </core_block_abstract_prepare_layout_after>
            <catalog_product_save_after>
                <observers>
                    <save_partial_payment_option>
                        <type>singleton</type>
                        <class>md_partialpayment/observer</class>
                        <method>savePartialPaymentOptions</method>
                    </save_partial_payment_option>
                </observers>
            </catalog_product_save_after>
            <catalog_product_delete_after>
                <observers>
                    <delete_partial_payment_option>
                        <type>singleton</type>
                        <class>md_partialpayment/observer</class>
                        <method>deletePartialPaymentOptions</method>
                    </delete_partial_payment_option>
                </observers>
            </catalog_product_delete_after>
        </events>
    </adminhtml>
    <admin>
        <routers>
            <md_partialpayment>
                <use>admin</use>
                <args>
                    <module>MD_Partialpayment</module>
                    <frontName>md_partialpayment</frontName>
                </args>
            </md_partialpayment>
        </routers>
    </admin>
    <global>
        <fieldsets>
            <sales_convert_quote_item>
                <partialpayment_option_selected>
                    <to_order_item>*</to_order_item>
                </partialpayment_option_selected>
                <partialpayment_installment_count>
                    <to_order_item>*</to_order_item>
                </partialpayment_installment_count>
                <partialpayment_paid_amount>
                    <to_order_item>*</to_order_item>
                </partialpayment_paid_amount>
                <partialpayment_due_amount>
                    <to_order_item>*</to_order_item>
                </partialpayment_due_amount>
                <partialpayment_frequency>
                    <to_order_item>*</to_order_item>
                </partialpayment_frequency>
                <partialpayment_amount_due_after_date>
                    <to_order_item>*</to_order_item>
                </partialpayment_amount_due_after_date>
                <partialpayment_next_installment_date>
                    <to_order_item>*</to_order_item>
                </partialpayment_next_installment_date>
            </sales_convert_quote_item>
            <sales_convert_order_item>
                <partialpayment_option_selected>
                    <to_quote_item>*</to_quote_item>
                </partialpayment_option_selected>
                <partialpayment_installment_count>
                    <to_quote_item>*</to_quote_item>
                </partialpayment_installment_count>
                <partialpayment_paid_amount>
                    <to_quote_item>*</to_quote_item>
                </partialpayment_paid_amount>
                <partialpayment_due_amount>
                    <to_quote_item>*</to_quote_item>
                </partialpayment_due_amount>
                <partialpayment_frequency>
                    <to_quote_item>*</to_quote_item>
                </partialpayment_frequency>
                <partialpayment_amount_due_after_date>
                    <to_quote_item>*</to_quote_item>
                </partialpayment_amount_due_after_date>
                <partialpayment_next_installment_date>
                    <to_quote_item>*</to_quote_item>
                </partialpayment_next_installment_date>
            </sales_convert_order_item>
        </fieldsets>
        <blocks>
            <md_partialpayment>
                <class>MD_Partialpayment_Block</class>
            </md_partialpayment>
        </blocks>
        <helpers>
            <md_partialpayment>
                <class>MD_Partialpayment_Helper</class>
            </md_partialpayment>
        </helpers>
        <models>
            <md_partialpayment>
                <class>MD_Partialpayment_Model</class>
                <resourceModel>md_partialpayment_mysql4</resourceModel>
            </md_partialpayment>
            <md_partialpayment_mysql4>
                <class>MD_Partialpayment_Model_Mysql4</class>
                <entities>
                    <options>
                        <table>md_partialpayment_product_options</table>
                    </options>
                    <payments>
                        <table>md_partialpayment_installment_payment</table>
                    </payments>
                    <summary>
                        <table>md_partialpayment_installment_payment_summary</table>
                    </summary>
                </entities>
            </md_partialpayment_mysql4>
        </models>
        <sales>
            <quote>
                <totals>
                    <md_partialpayment_paid>
                        <class>md_partialpayment/quote_address_total_installment_paid</class>
                        <after>grand_total</after>
                    </md_partialpayment_paid>
                    <md_partialpayment_due>
                        <class>md_partialpayment/quote_address_total_installment_due</class>
                        <after>grand_total</after>
                    </md_partialpayment_due>
                </totals>
            </quote>
        </sales>
        <resources>
            <md_partialpayment_setup>
                <setup>
                    <module>MD_Partialpayment</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </md_partialpayment_setup>
            <md_partialpayment_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </md_partialpayment_write>
            <md_partialpayment_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </md_partialpayment_read>
        </resources>
        <events>
            <sales_order_place_before>
                <observers>
                    <save_partially_items_prices>
                        <type>singleton</type>
                        <class>md_partialpayment/observer</class>
                        <method>setCustomSubtotal</method>
                    </save_partially_items_prices>
                </observers>
            </sales_order_place_before>
            <sales_order_place_after>
                <observers>
                    <reset_totals_for_order>
                        <type>singleton</type>
                        <class>md_partialpayment/observer</class>
                        <method>resetTotalsForOrder</method>
                    </reset_totals_for_order>
                </observers>
            </sales_order_place_after>
            <md_partialpayment_order_item_payment_placed>
                <observers>
                    <insert_payment_summary>
                        <type>singleton</type>
                        <class>md_partialpayment/observer</class>
                        <method>insertPaymentSummary</method>
                    </insert_payment_summary>
                </observers>
            </md_partialpayment_order_item_payment_placed>
            <core_block_abstract_prepare_layout_before>
                <observers>
                    <remove_payment_methods>
                        <type>singleton</type>
                        <class>md_partialpayment/observer</class>
                        <method>removePaymentMethods</method>
                    </remove_payment_methods>
                </observers>
            </core_block_abstract_prepare_layout_before>
            <controller_action_predispatch>
                <observers>
                    <dispatch_partial_summary>
                        <type>singleton</type>
                        <class>md_partialpayment/observer</class>
                        <method>setPaypalActionItems</method>
                    </dispatch_partial_summary>
                </observers>
            </controller_action_predispatch>
            <paypal_redirect_action_after>
                <observers>
                    <insert_paypal_summary_based_on_action>
                        <type>singleton</type>
                        <class>md_partialpayment/observer</class>
                        <method>insertPartialPaymentDetailsByAction</method>
                    </insert_paypal_summary_based_on_action>
                </observers>
            </paypal_redirect_action_after>
            <md_partial_payment_summary_save_after>
                <observers>
                    <send_installment_summary_email>
                        <type>singleton</type>
                        <class>md_partialpayment/observer</class>
                        <method>sendInstallmentSummaryEmail</method>
                    </send_installment_summary_email>
                </observers>
            </md_partial_payment_summary_save_after>
            <paypal_first_ipn_received_after>
                <observers>
                    <save_first_installment_status>
                        <type>singleton</type>
                        <class>md_partialpayment/observer</class>
                        <method>saveFirstInstallmentStatus</method>
                    </save_first_installment_status>
                </observers>
            </paypal_first_ipn_received_after>
            <sales_order_invoice_pay>
                <observers>
                    <calculate_partial_items_to_invoice>
                        <type>singleton</type>
                        <class>md_partialpayment/observer</class>
                        <method>calculatePartialItemsToInvoice</method>
                    </calculate_partial_items_to_invoice>
                </observers>
            </sales_order_invoice_pay>
            <sales_order_invoice_register>
		<observers>
                    <reset_order_for_paypal>
			<type>singleton</type>
                        <class>md_partialpayment/observer</class>
                        <method>resetOrderTotalForPaypal</method>
                    </reset_order_for_paypal>
                </observers>
            </sales_order_invoice_register>
            <catalog_product_delete_after>
                <observers>
                    <remove_partialpayment_options>
                        <type>singleton</type>
                        <class>md_partialpayment/observer</class>
                        <method>removePartialpaymentOptions</method>
                    </remove_partialpayment_options>
                </observers>
            </catalog_product_delete_after>
            <sales_quote_collect_totals_after>
                <observers>
                    <set_quote_subtotal_options>
                        <type>singleton</type>
                        <class>md_partialpayment/observer</class>
                        <method>setCustomSubtotalForBundleProduct</method>
                    </set_quote_subtotal_options>
                </observers>
            </sales_quote_collect_totals_after>
            <controller_action_layout_render_before>
                <observers>
                    <md_partialpayment_check_valid>
                        <type>model</type>
                        <class>MD_Partialpayment_Helper_Util</class>
                        <method>checkValid</method>
                    </md_partialpayment_check_valid>
                </observers>
            </controller_action_layout_render_before>
        </events>
        <md_partial_validator>
            <allowed>
                <payment>
                    <methods>
                        <authorizenet />
                        <paypal_standard />
                        <authorizenet_directpost />
                        <ccsave />
                        <cashondelivery />
                        <checkmo />
                    </methods>
                </payment>
            </allowed>
        </md_partial_validator>
        <template>
            <email>
                <md_partialpayment_email_installment_reminder translate="label" module="md_partialpayment">
                    <label>Partial Payment Installment Reminder Email</label>
                     <file>md/partialpayment/installments_reminder.html</file>
                     <type>html</type>
                </md_partialpayment_email_installment_reminder>
                <md_partialpayment_email_installment_schedule translate="label" module="md_partialpayment">
                     <label>Partial Payment Installment Schedule Email</label>
                     <file>md/partialpayment/installments_schedule.html</file>
                     <type>html</type>
                 </md_partialpayment_email_installment_schedule>
                 <md_partialpayment_email_installment_status translate="label" module="md_partialpayment">
                     <label>Partial Payment Installment Status Email</label>
                     <file>md/partialpayment/installments_payment_status.html</file>
                     <type>html</type>
                 </md_partialpayment_email_installment_status>
            </email>
        </template>
    </global>
    <default>
        <md_partialpayment>
            <general>
                <enabled>1</enabled>
                <initial_payment_type>F</initial_payment_type>
                <initial_payment_amount>0</initial_payment_amount>
                <additional_payment_type>F</additional_payment_type>
                <additional_payment_amount>0</additional_payment_amount>
                <frequency_of_payments>weekly</frequency_of_payments>
                <total_installments>0</total_installments>
            </general>
            <email>
                <installment_schedule_from>sales</installment_schedule_from>
                <remind_days_before>2</remind_days_before>
                <installment_reminder_from>support</installment_reminder_from>
                <installment_status_from>general</installment_status_from>
            </email>
        </md_partialpayment>
    </default>
    <crontab>
        <jobs>
            <send_installment_reminder>
                <schedule>
                    <cron_expr>0 22 * * *</cron_expr>
                </schedule>
                <run>
                    <model>md_partialpayment/observer::sendInstallmentReminderEmail</model>
                </run>
            </send_installment_reminder>
        </jobs>
    </crontab>
</config>
