<?xml version="1.0"?>
<config>
    <modules>
        <Eternal_CloudZoom>
            <version>1.0.0</version>
        </Eternal_CloudZoom>
    </modules>
    <frontend>
        <layout>
            <updates>
                <eternal_custommenu>
                    <file>eternal_cloudzoom.xml</file>
                </eternal_custommenu>
            </updates>
        </layout>
    </frontend>
    <global>
        <blocks>
            <eternal_cloudzoom>
                <class>Eternal_CloudZoom_Block</class>
            </eternal_cloudzoom>
        </blocks>
        <models>
            <eternal_cloudzoom>
                <class>Eternal_CloudZoom_Model</class>
            </eternal_cloudzoom>
        </models>
        <helpers>
            <eternal_cloudzoom>
                <class>Eternal_CloudZoom_Helper</class>
            </eternal_cloudzoom>
        </helpers>
    </global>
    <frontend>
        <layout>
            <updates>
                <eternal_cloudzoom>
                    <file>eternal_cloudzoom.xml</file>
                </eternal_cloudzoom>
            </updates>
        </layout>
    </frontend>
    <default>
        <eternal_cloudzoom>
            <general>
                <enable>1</enable>
                <show_title>1</show_title>
                <title_opacity>50</title_opacity>
                <position>inside</position>
                <zoom_width>500</zoom_width>
                <zoom_height>300</zoom_height>
                <big_image_width>800</big_image_width>
                <big_image_height>800</big_image_height>
                <lens_opacity>50</lens_opacity>
                <tint>1</tint>
                <tint_opacity>50</tint_opacity>
                <soft_focus>false</soft_focus>
                <smooth_move>3</smooth_move>
            </general>
            <lightbox>
                <enable>1</enable>
            </lightbox>
        </eternal_cloudzoom>
    </default>
</config>